footer.footer
  //- button(title="Back to top" class="scroll")
    span IR ARRIBA
  .multilimpio
    .footer__item
      .footer__itemcontent.wow.fadeInLeft(data-wow-duration="1.5s", data-wow-delay=".0s")
        h2.footer__title Servicios y Productos
        ul.footer__main
          li.footer__main_item: a(href="limpieza-industrial.html") Limpieza industrial
          li.footer__main_item: a(href="limpieza-comercial.html") Limpieza comercial
          li.footer__main_item: a(href="limpieza-domestica.html") Limpieza domestica
          li.footer__main_item: a(href="otros-servicios.html") Otros servicios
          li.footer__main_item: a(href="accesorios-y-productos-de-limpieza.html") Accesorios y productos de limpieza
    .footer__item
      .footer__itemcontent.wow.fadeInUp(data-wow-duration="1.5s", data-wow-delay=".0s")
        h2.footer__title El Alto - Bolivia
        p.footer__text <span>Zona Ballivian, Av. Alfonso Ugarte #430, Of. 9</span><span>entre calle Chacón y Sgt. Carrasco</span><br><span><strong>Telf:</strong> 2562696</span><span>, <strong> Cel.:</strong> <span class="whatsapp">77593519</span> - 70517844</span>
        .footer__contact
          .colEmail
            p.footer__text multilimpio.ltda@gmail.com
        //- a.main-footer__link(href="./contactos.html") <i class="icon icon-marker"></i> <strong> VER MAPA </strong>
    .footer__item
      .footer__itemcontent.wow.fadeInRight(data-wow-duration="1.5s", data-wow-delay=".0s")
        ul.social.footer__social
          li.social__icon: a(href="#", target="_blanck"): i.icon-facebook
          li.social__icon: a(href="#", target="_blanck"): i.icon-youtube
          li.social__icon: a(href="#", target="_blanck"): i.icon-twitter
        h2.footer__title Multilimpio Srl.
        p.footer__text Todos los Derechos Reservados ®. 
        p.footer__text <strong>MULTILIMPIO SRL.</strong> © <span id="currentDate"></span><br><br>
        a.footer__text.ah(href='//ahpublic.com', target='_blank') Diseño y Programación: AH! PUBLICIDAD

script(src="js/bundle.js")
script(src="js/main.js")
  
