//- Mixins-ini
include mixins.pug
//- Mixins-end
head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  meta(http-equiv="X-UA-Compatible", content="ie=edge")
  meta(name='designer', content='Fernando Javier Averanga Aruquipa / nandes.ingsistemas@gmail.com')
  meta(name='description', content='MULTILIMPIO SRL.')
  meta(property="og:title" content="MULTILIMPIO SRL. Empresa de limpieza industrial, comercial y doméstica")
  meta(property="og:description" content="MULTILIMPIO SRL.")  
  meta(name='author', content='')
  meta(name='keywords', content='')
  link(rel="stylesheet", href="styles.css") 
  title MULTILIMPIO SRL. Empresa de limpieza industrial, comercial y doméstica
