header.header
  .multilimpio.header__logo
    a(href="./")
      span.wow.fadeInDown(style="display:block" data-wow-duration="1.5s", data-wow-delay=".0s"): img.isologo(src="images/isologo.png", alt="MULTILIMPIO SRL.")
      //- include isologo.svg
    ul.social.header__social
      li.social__icon.wow.fadeInLeft(data-wow-duration="1.5s", data-wow-delay=".0s"): a(href="#", target="_blanck"): i.icon-facebook
      li.social__icon.wow.fadeInLeft(data-wow-duration="1.5s", data-wow-delay=".0s"): a(href="#", target="_blanck"): i.icon-youtube
      li.social__icon.wow.fadeInLeft(data-wow-duration="1.5s", data-wow-delay=".0s"): a(href="#", target="_blanck"): i.icon-twitter
    ul.main-inicio
      li.main-inicio__item.wow.fadeInRight(data-wow-duration="1.5s", data-wow-delay=".0s"): a.main-inicio__link.wow.swing(href="./") <i class="icon-home"></i> Inicio
      li.main-inicio__item.wow.fadeInRight(data-wow-duration="1.5s", data-wow-delay=".0s"): a.main-inicio__link.wow.swing(href="./nosotros.html") <i class="icon-us"></i> Nosotros
      li.main-inicio__item.wow.fadeInRight(data-wow-duration="1.5s", data-wow-delay=".0s"): a.main-inicio__link.wow.swing(href="./contactos.html") <i class="icon-contact"></i> Contactos
    button.main__button.toggle__button(v-on:click="sideMain", :class="{toggle__button_active: menutemporal}", type="button") 
      .hamburger.hamburger--elastic(:class="{'is-active' : menutemporal}")
        span.hamburger-box
          span.hamburger-inner
      span(style="font-size: 1.5rem;") &nbsp; MENÚ
    .multilimpio.toggle__main(:class="{toggle__main_active: menutemporal}")
      nav.header__main
        ul.toggle__inicio
          li.main-inicio__item: a.main-inicio__link.wow.swing(href="./") <i class="icon-home"></i> Inicio
          li.main-inicio__item: a.main-inicio__link.wow.swing(href="./nosotros.html") <i class="icon-us"></i> Nosotros
          li.main-inicio__item: a.main-inicio__link.wow.swing(href="./contactos.html") <i class="icon-contact"></i> Contactos 
        ul.main
          li.main__item.wow.zoomIn(data-wow-duration="1.5s", data-wow-delay=".4s"): a.main__link(href="limpieza-industrial.html"): button.main__button LIMPIEZA<br>INDUSTRIAL
          li.main__item.wow.zoomIn(data-wow-duration="1.5s", data-wow-delay=".2s"): a.main__link(href="limpieza-comercial.html"): button.main__button LIMPIEZA<br>COMERCIAL
          li.main__item.wow.zoomIn(data-wow-duration="1.5s", data-wow-delay=".0s"): a.main__link(href="limpieza-domestica.html"): button.main__button LIMPIEZA<br>DOMÉSTICA
          li.main__item.wow.zoomIn(data-wow-duration="1.5s", data-wow-delay=".2s"): a.main__link(href="otros-servicios.html"): button.main__button OTROS<br>SERVICIOS
          li.main__item.wow.zoomIn(data-wow-duration="1.5s", data-wow-delay=".4s"): a.main__link(href="accesorios-y-productos-de-limpieza.html"): button.main__button ACCESORIOS<br>  Y PRODUCTOS
          li.main__item.wow.zoomIn(data-wow-duration="1.5s", data-wow-delay=".5s"): a.main__link(href="trabaja-con-nosotros.html"): button.main__button.main__button_info TRABAJA CON<br> NOSOTROS
          //-  DE LIMPIEZA 