mixin lightbox(title, href, group, section, num)
  li
    a(href='#' + section + num)
      img(data-src='images/' + group + '/thumb/' + href , alt= title)
      span= title
    .lb-overlay(id= section + num)
      .lb-content.section
        img(data-src='images/' + group + '/thumb/' + href , alt= title)
        div
          h3= title
          a.lb-prev(href='#' + section + (num-1)) Prev
          a.lb-next(href='#' + section + (num+1)) Next
        a.lb-close(href='#pagina') x Cerrar