.block(style="padding: 0 20px;")
  //- Start cssSlider.com
  //- Generated by cssSlider.com 1.9
  link(rel='stylesheet', href='cssslider_files/csss_engine1/style.css')
  link(rel="stylesheet", href="cssslider_files/csss_engine1/mod.css")
    
  //-if IE
    link(rel='stylesheet', href='cssslider_files/csss_engine1/ie.css')
  .csslider1.autoplay
    input#cs_slide1_0.cs_anchor.slide(name='cs_anchor1', type='radio')
    input#cs_slide1_1.cs_anchor.slide(name='cs_anchor1', type='radio')
    input#cs_slide1_2.cs_anchor.slide(name='cs_anchor1', type='radio')
    input#cs_slide1_3.cs_anchor.slide(name='cs_anchor1', type='radio')
    input#cs_slide1_4.cs_anchor.slide(name='cs_anchor1', type='radio')
    input#cs_slide1_5.cs_anchor.slide(name='cs_anchor1', type='radio')
    input#cs_play1.cs_anchor(name='cs_anchor1', type='radio', checked='')
    input#cs_pause1_0.cs_anchor.pause(name='cs_anchor1', type='radio')
    input#cs_pause1_1.cs_anchor.pause(name='cs_anchor1', type='radio')
    input#cs_pause1_2.cs_anchor.pause(name='cs_anchor1', type='radio')
    input#cs_pause1_3.cs_anchor.pause(name='cs_anchor1', type='radio')
    input#cs_pause1_4.cs_anchor.pause(name='cs_anchor1', type='radio')
    input#cs_pause1_5.cs_anchor.pause(name='cs_anchor1', type='radio')
    ul
      li.cs_skeleton
        img(src='cssslider_files/csss_images1/limpieza_colegios_1.jpg', style='width: 100%;')
      li.num0.img.slide
        img(src='cssslider_files/csss_images1/limpieza_colegios_1.jpg', alt='Limpieza de unidades educativas', title='Limpieza de unidades educativas')
      li.num1.img.slide
        img(src='cssslider_files/csss_images1/limpieza_de_vidrios_7.jpg', alt='Limpieza de vidrios', title='Limpieza de vidrios')
      li.num2.img.slide
        img(src='cssslider_files/csss_images1/limpieza_oficinas_4.jpg', alt='Limpieza de oficinas', title='Limpieza de oficinas')
      li.num3.img.slide
        img(src='cssslider_files/csss_images1/limpieza_de_suelos_y_pisos_1.jpg', alt='Limpieza de suelos y abrillantado', title='Limpieza de suelos y abrillantado')
      li.num4.img.slide
        img(src='cssslider_files/csss_images1/limpieza_restaurantes_1.jpg', alt='Limpieza de restaurantes', title='Limpieza de restaurantes')
      li.num5.img.slide
        img(src='cssslider_files/csss_images1/limpieza_de_muebles_1.jpg', alt='Limpieza de muebles', title='Limpieza de muebles')
    .cs_engine
      a(href='http://cssslider.com') slider css3
      |  by cssSlider.com v1.9
    .cs_description
      label.num0
        span.cs_title
          span.cs_wrapper Limpieza de unidades educativas
        br
        span.cs_descr
          span.cs_wrapper Limpieza comercial
      label.num1
        span.cs_title
          span.cs_wrapper Limpieza de vidrios
        br
        span.cs_descr
          span.cs_wrapper Limpieza Doméstica
      label.num2
        span.cs_title
          span.cs_wrapper Limpieza de oficinas
        br
        span.cs_descr
          span.cs_wrapper Limpieza comercial
      label.num3
        span.cs_title
          span.cs_wrapper Limpieza de suelos y abrillantado
        br
        span.cs_descr
          span.cs_wrapper Limpieza Doméstica
      label.num4
        span.cs_title
          span.cs_wrapper Limpieza de restaurantes
        br
        span.cs_descr
          span.cs_wrapper Limpieza comercial
      label.num5
        span.cs_title
          span.cs_wrapper Limpieza de muebles
        br
        span.cs_descr
          span.cs_wrapper Limpieza Doméstica
    .cs_play_pause
      label.cs_play(for='cs_play1')
        span
          i
          b
      label.cs_pause.num0(for='cs_pause1_0')
        span
          i
          b
      label.cs_pause.num1(for='cs_pause1_1')
        span
          i
          b
      label.cs_pause.num2(for='cs_pause1_2')
        span
          i
          b
      label.cs_pause.num3(for='cs_pause1_3')
        span
          i
          b
      label.cs_pause.num4(for='cs_pause1_4')
        span
          i
          b
      label.cs_pause.num5(for='cs_pause1_5')
        span
          i
          b
    .cs_arrowprev
      label.num0(for='cs_slide1_0')
        span
          i
          b
      label.num1(for='cs_slide1_1')
        span
          i
          b
      label.num2(for='cs_slide1_2')
        span
          i
          b
      label.num3(for='cs_slide1_3')
        span
          i
          b
      label.num4(for='cs_slide1_4')
        span
          i
          b
      label.num5(for='cs_slide1_5')
        span
          i
          b
    .cs_arrownext
      label.num0(for='cs_slide1_0')
        span
          i
          b
      label.num1(for='cs_slide1_1')
        span
          i
          b
      label.num2(for='cs_slide1_2')
        span
          i
          b
      label.num3(for='cs_slide1_3')
        span
          i
          b
      label.num4(for='cs_slide1_4')
        span
          i
          b
      label.num5(for='cs_slide1_5')
        span
          i
          b
    .cs_bullets
      label.num0(for='cs_slide1_0')
        span.cs_point
        span.cs_thumb
          img(src='cssslider_files/csss_tooltips1/limpieza_colegios_1.jpg', alt='Limpieza de unidades educativas', title='Limpieza de unidades educativas')
      label.num1(for='cs_slide1_1')
        span.cs_point
        span.cs_thumb
          img(src='cssslider_files/csss_tooltips1/limpieza_de_vidrios_7.jpg', alt='Limpieza de vidrios', title='Limpieza de vidrios')
      label.num2(for='cs_slide1_2')
        span.cs_point
        span.cs_thumb
          img(src='cssslider_files/csss_tooltips1/limpieza_oficinas_4.jpg', alt='Limpieza de oficinas', title='Limpieza de oficinas')
      label.num3(for='cs_slide1_3')
        span.cs_point
        span.cs_thumb
          img(src='cssslider_files/csss_tooltips1/limpieza_de_suelos_y_pisos_1.jpg', alt='Limpieza de suelos y abrillantado', title='Limpieza de suelos y abrillantado')
      label.num4(for='cs_slide1_4')
        span.cs_point
        span.cs_thumb
          img(src='cssslider_files/csss_tooltips1/limpieza_restaurantes_1.jpg', alt='Limpieza de restaurantes', title='Limpieza de restaurantes')
      label.num5(for='cs_slide1_5')
        span.cs_point
        span.cs_thumb
          img(src='cssslider_files/csss_tooltips1/limpieza_de_muebles_1.jpg', alt='Limpieza de muebles', title='Limpieza de muebles')
  //- End cssSlider.com
