/*! LAYOUT PARA MULTILIMPIO @description ESTILOS PARA EMPRESA DE LIMPIEZA @author Fernando Averanga Aruquipa @link https://gitlab.con/2062nandes */
*,:after,:before { box-sizing: border-box; }

body { margin: 0; font-family: sans-serif; }

img { max-width: 100%; height: auto; }

a { text-decoration: none; }

a:hover { text-decoration: underline; }

.article,.gallery,.multilimpio { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; max-width: 1100px; margin-left: auto; margin-right: auto; width: 100%; }

.article,.aside,.col30,.col50,.col70,.col100,.col-30,.col-70,.footer__item:first-child,.footer__item:nth-child(2),.footer__item:nth-child(3),.gallery__item,.header__main,.item,.lb-album li,.main__item,.toggle__main { margin: 0; padding-left: .9375em; padding-right: .9375em; }

.item { width: 100%; }

.item.multilimpio { padding-left: 0; padding-right: 0; }

@font-face { font-family: untitled-font-1; src: url(fonts/untitled-font-1.eot); src: url(fonts/untitled-font-1.eot?#iefix) format("embedded-opentype"),url(fonts/untitled-font-1.woff) format("woff"),url(fonts/untitled-font-1.ttf) format("truetype"),url(fonts/untitled-font-1.svg#untitled-font-1) format("svg"); font-weight: 400; font-style: normal; }

[data-icon]:before { content: attr(data-icon); }

[class*=" icon-"]:before,[class^=icon-]:before,[data-icon]:before { font-family: untitled-font-1 !important; font-style: normal !important; font-weight: 400 !important; font-variant: normal !important; text-transform: none !important; speak: none; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

.icon-home:before { content: "\61"; }

.icon-us:before { content: "\63"; }

.icon-contact:before { content: "\64"; }

.icon-marker:before { content: "\65"; }

.icon-youtube:before { content: "\62"; }

.icon-facebook:before { content: "\66"; }

.icon-twitter:before { content: "\67"; }

.animated { -webkit-animation-duration: 1s; animation-duration: 1s; -webkit-animation-fill-mode: both; animation-fill-mode: both; }

.animated.infinite { -webkit-animation-iteration-count: infinite; animation-iteration-count: infinite; }

.animated.hinge { -webkit-animation-duration: 2s; animation-duration: 2s; }

.animated.bounceIn,.animated.bounceOut,.animated.flipOutX,.animated.flipOutY { -webkit-animation-duration: .75s; animation-duration: .75s; }

@-webkit-keyframes a { 20% { -webkit-transform: rotate(15deg); transform: rotate(15deg); }
  40% { -webkit-transform: rotate(-10deg); transform: rotate(-10deg); }
  60% { -webkit-transform: rotate(5deg); transform: rotate(5deg); }
  80% { -webkit-transform: rotate(-5deg); transform: rotate(-5deg); }
  to { -webkit-transform: rotate(0deg); transform: rotate(0deg); } }

@keyframes a { 20% { -webkit-transform: rotate(15deg); transform: rotate(15deg); }
  40% { -webkit-transform: rotate(-10deg); transform: rotate(-10deg); }
  60% { -webkit-transform: rotate(5deg); transform: rotate(5deg); }
  80% { -webkit-transform: rotate(-5deg); transform: rotate(-5deg); }
  to { -webkit-transform: rotate(0deg); transform: rotate(0deg); } }

.swing { -webkit-transform-origin: top center; transform-origin: top center; -webkit-animation-name: a; animation-name: a; }

@-webkit-keyframes b { 0% { opacity: 0;
    -webkit-transform: translate3d(0,-100%,0);
            transform: translate3d(0,-100%,0); }
  to { opacity: 1;
    -webkit-transform: none;
            transform: none; } }

@keyframes b { 0% { opacity: 0;
    -webkit-transform: translate3d(0,-100%,0);
            transform: translate3d(0,-100%,0); }
  to { opacity: 1;
    -webkit-transform: none;
            transform: none; } }

.fadeInDown { -webkit-animation-name: b; animation-name: b; }

@-webkit-keyframes c { 0% { opacity: 0;
    -webkit-transform: translate3d(-100%,0,0);
            transform: translate3d(-100%,0,0); }
  to { opacity: 1;
    -webkit-transform: none;
            transform: none; } }

@keyframes c { 0% { opacity: 0;
    -webkit-transform: translate3d(-100%,0,0);
            transform: translate3d(-100%,0,0); }
  to { opacity: 1;
    -webkit-transform: none;
            transform: none; } }

.fadeInLeft { -webkit-animation-name: c; animation-name: c; }

@-webkit-keyframes d { 0% { opacity: 0;
    -webkit-transform: translate3d(100%,0,0);
            transform: translate3d(100%,0,0); }
  to { opacity: 1;
    -webkit-transform: none;
            transform: none; } }

@keyframes d { 0% { opacity: 0;
    -webkit-transform: translate3d(100%,0,0);
            transform: translate3d(100%,0,0); }
  to { opacity: 1;
    -webkit-transform: none;
            transform: none; } }

.fadeInRight { -webkit-animation-name: d; animation-name: d; }

@-webkit-keyframes e { 0% { opacity: 0;
    -webkit-transform: translate3d(0,100%,0);
            transform: translate3d(0,100%,0); }
  to { opacity: 1;
    -webkit-transform: none;
            transform: none; } }

@keyframes e { 0% { opacity: 0;
    -webkit-transform: translate3d(0,100%,0);
            transform: translate3d(0,100%,0); }
  to { opacity: 1;
    -webkit-transform: none;
            transform: none; } }

.fadeInUp { -webkit-animation-name: e; animation-name: e; }

@-webkit-keyframes f { 0% { -webkit-transform-origin: right bottom; transform-origin: right bottom;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    opacity: 0; }
  to { -webkit-transform-origin: right bottom; transform-origin: right bottom;
    -webkit-transform: none;
            transform: none;
    opacity: 1; } }

@keyframes f { 0% { -webkit-transform-origin: right bottom; transform-origin: right bottom;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    opacity: 0; }
  to { -webkit-transform-origin: right bottom; transform-origin: right bottom;
    -webkit-transform: none;
            transform: none;
    opacity: 1; } }

.rotateInUpRight { -webkit-animation-name: f; animation-name: f; }

@-webkit-keyframes g { 0% { opacity: 0;
    -webkit-transform: scale3d(.3,.3,.3);
            transform: scale3d(.3,.3,.3); }
  50% { opacity: 1; } }

@keyframes g { 0% { opacity: 0;
    -webkit-transform: scale3d(.3,.3,.3);
            transform: scale3d(.3,.3,.3); }
  50% { opacity: 1; } }

.zoomIn { -webkit-animation-name: g; animation-name: g; }

/*! Hamburgers @description Tasty CSS-animated hamburgers @author Jonathan Suh @jonsuh @site https://jonsuh.com/hamburgers @link https://github.com/jonsuh/hamburgers */
.hamburger { padding: 0; display: inline-block; cursor: pointer; transition-property:opacity,-webkit-filter; transition-property:opacity,filter; transition-property: opacity,filter,-webkit-filter; transition-duration: .8s; transition-timing-function: linear; font: inherit; color: inherit; text-transform: none; background-color: transparent; border: 0; margin: 0; overflow: visible; }

.hamburger:hover { opacity: .7; }

.hamburger-box { width: 40px; height: 24px; display: inline-block; position: relative; }

.hamburger-inner { display: block; top: 50%; margin-top: -2px; }

.hamburger-inner,.hamburger-inner:after,.hamburger-inner:before { width: 40px; height: 4px; background-color: #592158; border-radius: 4px; position: absolute; transition-property:-webkit-transform; transition-property:transform; transition-property: transform,-webkit-transform; transition-duration: .15s; transition-timing-function: ease; }

.hamburger-inner:after,.hamburger-inner:before { content: ""; display: block; }

.hamburger-inner:before { top: -10px; }

.hamburger-inner:after { bottom: -10px; }

/* Arrow Turn */
.hamburger--arrowturn.is-active .hamburger-inner { -webkit-transform: rotate(-180deg); transform: rotate(-180deg); }

.hamburger--arrowturn.is-active .hamburger-inner:before { -webkit-transform: translate3d(8px,0,0) rotate(45deg) scaleX(.7); transform: translate3d(8px,0,0) rotate(45deg) scaleX(.7); }

.hamburger--arrowturn.is-active .hamburger-inner:after { -webkit-transform: translate3d(8px,0,0) rotate(-45deg) scaleX(.7); transform: translate3d(8px,0,0) rotate(-45deg) scaleX(.7); }

/* Arrow Turn Right */
.hamburger--arrowturn-r.is-active .hamburger-inner { -webkit-transform: rotate(-180deg); transform: rotate(-180deg); }

.hamburger--arrowturn-r.is-active .hamburger-inner:before { -webkit-transform: translate3d(-8px,0,0) rotate(-45deg) scaleX(.7); transform: translate3d(-8px,0,0) rotate(-45deg) scaleX(.7); }

.hamburger--arrowturn-r.is-active .hamburger-inner:after { -webkit-transform: translate3d(-8px,0,0) rotate(45deg) scaleX(.7); transform: translate3d(-8px,0,0) rotate(45deg) scaleX(.7); }

/* Elastic */
.hamburger--elastic .hamburger-inner { top: 2px; transition-duration: .275s; transition-timing-function: cubic-bezier(.68,-.55,.265,1.55); }

.hamburger--elastic .hamburger-inner:before { top: 10px; transition: opacity .125s ease .275s; }

.hamburger--elastic .hamburger-inner:after { top: 20px; transition:-webkit-transform .275s cubic-bezier(.68,-.55,.265,1.55); transition:transform .275s cubic-bezier(.68,-.55,.265,1.55); transition: transform .275s cubic-bezier(.68,-.55,.265,1.55),-webkit-transform .275s cubic-bezier(.68,-.55,.265,1.55); }

.hamburger--elastic.is-active .hamburger-inner { -webkit-transform: translate3d(0,10px,0) rotate(135deg); transform: translate3d(0,10px,0) rotate(135deg); transition-delay: 75ms; }

.hamburger--elastic.is-active .hamburger-inner:before { transition-delay: 0s; opacity: 0; }

.hamburger--elastic.is-active .hamburger-inner:after { -webkit-transform: translate3d(0,-20px,0) rotate(-270deg); transform: translate3d(0,-20px,0) rotate(-270deg); transition-delay: 75ms; }

@font-face { font-family: BebasNeueRegular; src: url(fonts/BebasNeue-webfont.eot); src: url(fonts/BebasNeue-webfont.eot?#iefix) format("embedded-opentype"),url(fonts/BebasNeue-webfont.woff) format("woff"),url(fonts/BebasNeue-webfont.ttf) format("truetype"),url(fonts/BebasNeue-webfont.svg#BebasNeueRegular) format("svg"); font-weight: 400; font-style: normal; }

@font-face { font-family: Copperplate; src: url(fonts/FrancoisOne.ttf) format("truetype"); font-weight: 400; font-style: normal; }

a:active,a:hover,button:focus { outline: 0; }

iframe { width: 100%; height: calc(100% - 70px); }

article>div { position: relative; }

.body { display: block; background: #fef5ed; }

section { padding: 0 20px 5px; }

.section { overflow: hidden; width: 100%; margin: auto; padding-bottom: 20px; border-radius: 25px; box-shadow: 0 0 0 2px #592158,0 0 0 5px #f57711; }

@media screen and (max-width:549px) { .section { background: #fff; } }

@media screen and (min-width:550px) and (max-width:839px) { .section { background: linear-gradient(90deg,#f2f2f2 40%,#fff 0); } }

@media screen and (min-width:840px) and (max-width:1023px) { .section { background: linear-gradient(90deg,#f2f2f2 25%,#fff 0); } }

@media screen and (min-width:1024px) { .section { background: linear-gradient(90deg,#f2f2f2 20%,#fff 0); } }

.multilimpio { position: relative; }

.header { padding-bottom: 1px; margin-bottom: 20px; background: #f57711 url(images/backgroung-header.jpg); box-shadow: 0 0 10px 1px #592158; }

.header__logo { display: block; width: 100%; margin-left: auto; margin-right: auto; padding: 0; text-align: center; }

.header__logo .isologo { padding: 0; }

@media screen and (min-width:1024px) { .header__logo .isologo { width: 50%; } }

@media screen and (min-width:840px) and (max-width:1023px) { .header__logo .isologo { width: 60%; } }

@media screen and (min-width:550px) and (max-width:839px) { .header__logo .isologo { width: 70%; } }

@media screen and (max-width:549px) { .header__logo .isologo { max-width: 100%; } }

.main-inicio { display: none; }

@media screen and (min-width:840px) { .main-inicio { position: absolute; display: block; top: 23%; right: 0; margin-right: 15px; text-align: end; list-style: none; -webkit-transform: translateY(-50%); transform: translateY(-50%); } }

.main-inicio__item { font-size: 1.2rem; }

.main-inicio__item a { font-family: Copperplate,Copperplate Gothic Light,fantasy; color: #592158; }

.main-inicio__item a:active { color: #fff; }

.header__main { width: 100%; padding: 0; }.main { position: relative; margin-top: 0; margin-bottom: 0; padding-left: 0; }

@media screen and (min-width:840px) { .main { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -ms-flex-pack: distribute; justify-content: space-around; } }

.main__item { position: relative; width: 100%; text-align: center; list-style: none; padding: 0; }

@media screen and (min-width:840px) { .main__item { width: 16.66667%; } }

.main__link { width: 100%; }

.main__button { width: 90%; font-family: Copperplate,Copperplate Gothic Light,fantasy; font-size: 1.05rem; line-height: 1.1; color: #fff; text-shadow: -1px -1px 0 #572158; background: linear-gradient(90deg,#5d295d,transparent 15%,transparent 85%,#5d295d),linear-gradient(#5d295d,#bc80b4 50%,#5d295d); border: 1px solid #dac1d8; box-shadow: 0 0 0 2px #713a71,0 4px 6px 0 #521f53; border-radius: 50px; padding: 5.5px; margin-bottom: 15px; display: inline-block; z-index: 2; will-change: transform; transition: all .3s ease-out; }

.main__button_info { background: linear-gradient(90deg,#2655a2,transparent 15%,transparent 85%,#2655a2),linear-gradient(#2655a2,#469fda 50%,#2655a2); box-shadow: 0 0 0 2px #469fda,0 4px 6px 0 #2655a2; }

.main__button:hover { transition: all .2s ease-out; background: linear-gradient(90deg,#f57711,transparent 15%,transparent 85%,#f57711),linear-gradient(#f57711,#fff 50%,#f57711); color: #592158; text-shadow: -1px 0 0 #fff; box-shadow: 0 0 0 2px #713a71,0 4px 6px 0 #521f53,0 0 8px 0 #fff; -webkit-transform: scale(1.05); transform: scale(1.05); }

.main__button:hover .hamburger-inner,.main__button:hover .hamburger-inner:after,.main__button:hover .hamburger-inner:before { background-color: #592158; box-shadow: 0 -1px 5px 0 #fff; }

@media screen and (max-width:839px) { .toggle__main { position: absolute; width: 100%; will-change: transform; transition: all .5s; -webkit-transform: translateX(-100%); transform: translateX(-100%); z-index: 10; background: hsla(26,78%,98%,.5); box-shadow: 0 3px 20px 0 rgba(90,33,88,.62); } }

@media screen and (max-width:839px) and (min-width:550px) { .toggle__main { width: 50%; } }

.toggle__main_active { -webkit-transform: translateX(0); transform: translateX(0); }

.toggle__button { display: none; }

@media screen and (max-width:839px) { .toggle__button { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; margin-left: auto; margin-right: auto; margin-bottom: 10px; height: 50px; } }

.toggle__button:active,.toggle__button_active { color: #592158; text-shadow: -1px 0 0 #fff; background: linear-gradient(90deg,#f57711,transparent 15%,transparent 85%,#f57711),linear-gradient(#f57711,#fff 50%,#f57711); box-shadow: -6px 5px 0 0 #592158,-6px 5px 0 2px #f68529; }

.toggle__button:active .hamburger-inner,.toggle__button:active .hamburger-inner:after,.toggle__button:active .hamburger-inner:before,.toggle__button_active .hamburger-inner,.toggle__button_active .hamburger-inner:after,.toggle__button_active .hamburger-inner:before { background-color: #592158; box-shadow: 0 -1px 5px 0 #fff; }

.hamburger-inner,.hamburger-inner:after,.hamburger-inner:before { background-color: #fff; box-shadow: 0 -1px 5px 0 #592158; }

.toggle__inicio { display: none; }

@media screen and (max-width:839px) { .toggle__inicio { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -ms-flex-pack: distribute; justify-content: space-around; list-style: none; padding-left: 0; } }

.title__section { width: 100%; margin: 0; text-align: center; background: linear-gradient(#af77ae,transparent 50%,#af77ae),linear-gradient(90deg,#ad72a6,#632e62,#bc80b4); color: #fff; padding: 7px 10px; text-transform: uppercase; -webkit-transform-origin: top; transform-origin: top; -webkit-transform: scaleY(.9); transform: scaleY(.9); font-weight: 900; font-size: 2rem; }

.title__section_info { background: linear-gradient(#469fda,transparent 50%,#469fda),linear-gradient(90deg,#469fda,#2655a2,#469fda); }

.title__content { font-size: 2.5rem; line-height: .8em; margin-top: 20px; color: #592158; border-bottom: 2.5px solid transparent; -o-border-image: linear-gradient(90deg,#592158,#a33da2 11%,#f57711 39%,#f1e35d 50%,transparent); border-image: linear-gradient(90deg,#592158,#a33da2 11%,#f57711 39%,#f1e35d 50%,transparent); border-image-slice: 1; }

.subtitle__content,.title__content { margin-bottom: 20px; border-top: 0; border-left: 0; border-right: 0; }

.subtitle__content { font-size: 1.7em; -webkit-margin-before: .5em; -webkit-margin-after: .5em; -webkit-margin-start: 5px; -webkit-margin-end: 0; font-weight: 700; color: #824b7f; border-bottom: 3px solid transparent; -o-border-image: linear-gradient(90deg,#f57711,#f68711 11%,#ffab40 39%,#ffbb5f 60%,rgba(207,99,27,0)); border-image: linear-gradient(90deg,#f57711,#f68711 11%,#ffab40 39%,#ffbb5f 60%,rgba(207,99,27,0)); border-image-slice: 1; }

.aside { width: 100%; height: 100%; padding: 0; }

@media screen and (min-width:550px) { .aside { width: 40%; } }

@media screen and (min-width:840px) { .aside { width: 25%; } }

@media screen and (min-width:1024px) { .aside { width: 20%; } }

.aside__content { display: none; }

@media screen and (min-width:550px) { .aside__content { display: block; width: 100%; padding: 0; } }

.aside__content .aside__main { max-height: 100vh; overflow: hidden; overflow-y: auto; }

.aside__movil { display: block; width: 100%; }

@media screen and (min-width:550px) { .aside__movil { display: none; } }

.aside__main { font-family: Copperplate,Copperplate Gothic Light,fantasy; font-size: 1rem; margin: 0; padding-left: 0; list-style: none; padding: 0; }

.aside__item { border-bottom: 1px solid #ccc; }

.aside__item a.active,.aside__item a:hover { text-decoration: none; color: #693e68; will-change: transform; -webkit-transform: scale(1.02); transform: scale(1.02); }

.aside__item a.active { background: #ffd9c3; text-shadow: 1px 1px 1px #fff; }

.aside__item a { display: block; padding: 10px 10px 10px 20px; color: #a667a4; -webkit-transform: scale(1); transform: scale(1); transition: all .3s; }

.article { width: 100%; }

@media screen and (min-width:550px) { .article { width: 60%; } }

@media screen and (min-width:840px) { .article { width: 75%; } }

@media screen and (min-width:1024px) { .article { width: 80%; } }

.content_text { font-size: 1.2rem; margin-bottom: 0; }

.gallery__item { width: 50%; }

@media screen and (min-width:840px) { .gallery__item { width: 33%; } }

input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button { -webkit-appearance: none; margin: 0; }

input[type=number] { -moz-appearance: textfield; }

.form__label { width: 100%; color: #592158; }

.form__input { width: 100%; background: #efefef; color: #000; border-radius: 5px; padding: 8px; margin-bottom: 5px; }

.form_buttons { text-align: center; }

.form__button { width: 40%; font-family: Copperplate,Copperplate Gothic Light,fantasy; font-size: 1.3rem; line-height: 1.1; padding: 10px; margin-left: 20px; margin-bottom: 15px; z-index: 1; will-change: transform; transition: all .3s ease-out; }

.form__button:hover { transition: all .2s ease-out; -webkit-transform: translate3d(-4px,4px,0); transform: translate3d(-4px,4px,0); }

.footer { display: block; position: relative; margin-top: 15px; background: linear-gradient(#592158,transparent 380%),url(images/pattern.png) repeat 0 0; border-top: 7px solid transparent; -o-border-image: linear-gradient(90deg,#fff -10%,#d58205 40%,47%,#fff 50%,53%,#d58205 60%,#fff 110%); border-image: linear-gradient(90deg,#fff -10%,#d58205 40%,47%,#fff 50%,53%,#d58205 60%,#fff 110%); border-image-slice: 1; box-shadow: 0 0 10px 0 #592158; border-radius: 10px 10px 0 0; }

.footer__item:first-child { width: 100%; display: block; float: left; position: relative; height: 100%; padding-left: 5px; padding-right: 5px; margin-bottom: 15px; }

@media screen and (min-width:840px) { .footer__item:first-child { width: 32%; } }

.footer__item:nth-child(2) { width: 100%; display: block; float: left; position: relative; height: 100%; padding-left: 5px; padding-right: 5px; margin-bottom: 15px; }

@media screen and (min-width:840px) { .footer__item:nth-child(2) { width: 38%; } }

.footer__item:nth-child(3) { width: 100%; display: block; float: left; position: relative; height: 100%; padding-left: 5px; padding-right: 5px; margin-bottom: 15px; }

@media screen and (min-width:840px) { .footer__item:nth-child(3) { width: 30%; } }

.footer__itemcontent { position: relative; width: 100%; height: 100%; padding: 5px 0 10px; }

@media screen and (min-width:840px) and (max-width:1023px) { .footer__itemcontent { height: 200px; } }

@media screen and (min-width:1024px) { .footer__itemcontent { height: 190px; } }

.footer__text { width: 100%; color: #fff; margin-top: 0; margin-bottom: 10px; text-align: center; }

.footer__text,.footer__text span { display: inline-block; }

.footer__title { margin-top: 10px; margin-bottom: 10px; font-family: Copperplate,Copperplate Gothic Light,fantasy; font-weight: 500; font-size: 2rem; line-height: 1; color: #f57711; text-align: center; text-shadow: -.5px .2px 0 #fff; }

.footer__main { list-style: none; }

.footer__main_item { position: relative; padding-left: 15px; }

.footer__main_item a { color: #fff; }

.footer__main_item a:after { content: ""; position: absolute; top: 50%; left: 0; width: 0; height: 0; -webkit-transform: translateY(-50%); transform: translateY(-50%); border: 5px solid transparent; border-left: 10px solid #fff; border-right: 0 solid; }

.social { padding: 10px; list-style: none; }

.social a { text-decoration: none; }

.header__social { display: none; }

@media screen and (min-width:840px) { .header__social { display: block; position: absolute; width: 22%; top: 23%; left: 0; -webkit-transform: translateY(-50%); transform: translateY(-50%); }
  .header__social .icon-facebook,.header__social .icon-twitter,.header__social .icon-youtube { color: #fff; background: radial-gradient(#592158 0,transparent 250%); }
  .header__social .icon-facebook:hover,.header__social .icon-twitter:hover,.header__social .icon-youtube:hover { background: radial-gradient(#fff 0,transparent 250%); -webkit-transform: rotate(1turn); transform: rotate(1turn); } }

.footer__social { display: none; }

@media screen and (max-width:839px) { .footer__social { display: block; margin: 0; text-align: center; }
  .footer__social .icon-facebook,.footer__social .icon-twitter,.footer__social .icon-youtube { color: #6c286a; background: radial-gradient(#fff 0,transparent 250%); } }

.social__icon { display: inline-block; }

.icon-facebook,.icon-twitter,.icon-youtube { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; width: 50px; height: 50px; padding-top: .55rem; font-size: 2rem; border-radius: 50px; transition: all .5s; margin: 0 5px; }

.icon-facebook:hover { color: #4862a3; }

.icon-youtube:hover { color: #fd0000; }

.icon-twitter:hover { color: #1ca0f1; }

a.ah { font-size: .8rem; opacity: .5; display: block; }

a.ah.hover { opacity: .8; }

.block { display: block; }

.col30,.col100 { width: 100%; }

@media screen and (min-width:550px) { .col30 { width: 50%; } }

@media screen and (min-width:840px) { .col30 { width: 35%; } }

@media screen and (min-width:1024px) { .col30 { width: 30%; } }

.col70 { width: 100%; }

@media screen and (min-width:550px) { .col70 { width: 50%; } }

@media screen and (min-width:840px) { .col70 { width: 65%; } }

@media screen and (min-width:1024px) { .col70 { width: 70%; } }

.col-30 { width: 100%; }

@media screen and (min-width:840px) { .col-30 { width: 50%; } }

@media screen and (min-width:1024px) { .col-30 { width: 30%; } }

.col-70 { width: 100%; }

@media screen and (min-width:1024px) { .col-70 { width: 70%; } }

.col50 { width: 100%; }

@media screen and (min-width:1024px) { .col50 { width: 50%; } }

/*MODAL IMAGES*/
.modal { position: fixed; top: 0; left: 0; width: 100%; height: 100%; z-index: 0; }

.modal__item { position: absolute; top: 5%; left: 12%; background: #fefefe; border: 1px solid #888; width: 76%; height: 90%; z-index: 1; }

.modal__close { position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 0; background: rgba(0,0,0,.5); }

.whatsapp { position: relative; padding-left: 35px; padding-top: 7px; padding-bottom: 7px; }

.whatsapp:after { content: ""; position: absolute; width: 30px; height: 30px; top: 50%; left: 0; -webkit-transform: translateY(-50%); transform: translateY(-50%); background: url(images/whatsapp.png); }

hr { background: silver; }

/*LIGHTBOX CSS*/
.lb-album { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; font-family: BebasNeueRegular,Arial Narrow,Arial,sans-serif; list-style: none; padding-left: 0; }

.lb-album li { width: 50%; position: relative; margin-bottom: 10px; }

@media screen and (min-width:550px) { .lb-album li { width: 100%; } }

@media screen and (min-width:840px) { .lb-album li { width: 50%; } }

@media screen and (min-width:1024px) { .lb-album li { width: 33%; } }

.lb-album li>a,.lb-album li>a img { display: block; -o-object-fit: cover; object-fit: cover; width: 100%; height: 100%; }

.lb-album li>a { width: 100%; height: 250px; position: relative; padding: 10px; background: #ffc060; box-shadow: 1px 1px 2px #fff,inset 1px 1px 2px rgba(158,111,86,.3); border-radius: 4px 4px 4px 4px; color: #333; text-decoration: none; }

@media screen and (max-width:549px) { .lb-album li>a { height: 150px; } }

.lb-album li>a span { position: absolute; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; width: calc(100% - 19px); height: 230px; top: 10px; left: 10px; text-align: center; line-height: 1; color: #5a2158; text-shadow: 0 1px 1px hsla(0,0%,100%,.6); font-size: 1.5rem; opacity: 0; background: rgba(255,153,0,.57); will-change: transform; -webkit-transform: scale(0); transform: scale(0); transition: all .4s; }

@media screen and (max-width:549px) { .lb-album li>a span { height: 130px; } }

.lb-album li>a:hover { background: linear-gradient(#713b70,#b479ad); }

.lb-album li>a:hover span { opacity: 1; -webkit-transform: scale(1); transform: scale(1); }

.lb-overlay { width: 100%; height: 100%; position: fixed; overflow: hidden; left: 0; top: 0; padding: 80px 100px 120px; z-index: -1; text-align: center; background: rgba(99,42,98,.65); margin: 0 auto; text-shadow: 0 1px 1px hsla(0,0%,100%,.6); will-change: opacity; opacity: 0; transition: all .3s; }

.lb-content { width: 100%; height: 100%; background: #fff1e4; }

.lb-overlay div h3,.lb-overlay div p { padding: 0 20px; width: 100%; height: 60px; }

.lb-overlay div h3 { font-size: 2.25rem; float: left; text-align: center; border-right: 1px solid rgba(27,54,81,.4); }

.lb-overlay div h3 span,.lb-overlay div p { font-size: 1rem; font-family: Constantia,Palatino,Palatino Linotype,Palatino LT STD,Georgia,serif; font-style: italic; }

.lb-overlay div h3 span { display: block; line-height: 0.375rem; }

.lb-overlay div p { font-size: 0.875rem; text-align: left; float: left; width: 260px; }

.lb-overlay a.lb-close { background: linear-gradient(#ff7b00,#bf5c00,#ff7b00); border-radius: 5px; z-index: 3; color: #fff; position: absolute; top: 33px; left: 50%; font-size: 1.2rem; line-height: 1.8rem; width: 75px; height: 27px; overflow: hidden; opacity: 0; -webkit-transform: translateX(-50%); transform: translateX(-50%); box-shadow: 0 1px 2px rgba(0,0,0,.3); }

.lb-overlay img { max-height: 100%; position: relative; opacity: 0; box-shadow: 0 2px 7px rgba(0,0,0,.2); transition: opacity .5s linear; }

.lb-next,.lb-prev { text-indent: -9000px; position: absolute; top: 50%; width: 24px; height: 25px; opacity: .8; -webkit-transform: translateY(-50%); transform: translateY(-50%); }

.lb-prev { left: 55px; }

.lb-next { left: calc(100% - 55px); }

.lb-next:hover,.lb-prev:hover { opacity: 1; }

.lb-prev { margin-left: -30px; background: transparent url(../images/arrows.png) no-repeat 0 0; }

.lb-next { margin-left: 6px; background: transparent url(../images/arrows.png) no-repeat 100% 0; }

.lb-overlay:target { width: 100%; height: 100%; z-index: 99; left: 0; top: 0; opacity: 1; transition: all .8s; }

.lb-overlay:target a.lb-close,.lb-overlay:target img { opacity: 1; }

.lb-overlay img,x:-o-prefocus { height: 100%; }
