$cssCore: false;
$cssHelpers: false;
$devMode: false;
$container : multilimpio;
$item      : item;
$max-width : 1100px;
$breakpoints : (
  s  : 0,
  m  : 550px,
  l  : 840px,
  xl  : 1024px,
);
@import '../ed-grid';
$purple:#592158;
$lightpurple: #AF77AE;
$green:#149243;
$gold: #F57711;
$yellow:#eddb2e;
$lightblue: #219cd5;
$silver:#E5E5E5;
$white:#fff;
// POR DEFECTO*/
@font-face {
    font-family: 'BebasNeueRegular';
    src: url('fonts/BebasNeue-webfont.eot');
    src: url('fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/BebasNeue-webfont.woff') format('woff'),
         url('fonts/BebasNeue-webfont.ttf') format('truetype'),
         url('fonts/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
  font-family: "Copperplate";
	src: url("fonts/FrancoisOne.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}
button:focus, a:active, a:hover {
    outline: 0;
}
iframe{
  width: 100%;
  height: calc(100% - 70px);
}
article>div{
  position: relative;
}
// POR DEFECTO END*/
.body{
  display: block;
  background: lighten($gold, 45);
}
section{
  padding: 0 20px 5px 20px;
}
.section{
  overflow: hidden;
  width: 100%;
  margin: auto;
  padding-bottom: 20px;
  @include to(m){
    background: $white;
  }
  @include fromTo(m,l){
    background: linear-gradient(90deg,lighten($silver, 5) 40%,$white 40%);
  }
  @include fromTo(l,xl){
    background: linear-gradient(90deg,lighten($silver, 5) 25%,$white 25%);
  }
  @include from(xl){
    background: linear-gradient(90deg,lighten($silver, 5) 20%,$white 20%);
  }
  // 100, 40,25,20
  border-radius: 25px;
  box-shadow: 0 0 0px 2px $purple, 0 0 0 5px $gold;
}
// GRILLAS INI*/
.multilimpio{
  position: relative;
}
.header{
  padding-bottom: 1px;
  margin-bottom: 20px;
  background: $gold url(images/backgroung-header.jpg);
  box-shadow: 0 0 10px 1px $purple;
}
.header__logo{
  display: block;
  width: 100%;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  text-align: center;
  .isologo{
    @include from(xl){
      width: 50%;
    }
    @include fromTo(l,xl){
      width: 60%;
    }
    @include fromTo(m,l){
      width: 70%;
    }
    padding: 0;
  }
  @include to(m){
    .isologo{
      max-width: 100%;
    }
  }
}
.main-inicio{
  display: none;
  @include from(l){
    position: absolute;
    display: block;
    top: 23%;
    right: 0;
    margin-right: 15px;
    text-align: end;
    list-style:none; 
    transform: translateY(-50%);
  }
  &__item{
    font-size: 1.2rem;
    a{
      font-family: Copperplate,Copperplate Gothic Light,fantasy;
      color: $purple;
      &:active{
        color: $white;
      }
    }
  }
}
.header__main{
  @include edItem(100);
  padding: 0;
}
// GRILLAS END*/
// ANIMACION LOGO*/
.st0:nth-child(1),.st3:nth-child(1){

}
@keyframes animtitle {
}
// ANIMACION LOGO END*/
.main{
  position: relative;
  margin-top: 0;
  margin-bottom: 0;
  @include from(l){
    @include mainDistribute;
  }
  padding-left: 0;
  &__item{
    position: relative;
    @include edItem(100,100,16.666666667);
    text-align: center;
    list-style: none;
    padding: 0;
  }
  &__link{
    width: 100%;
  }
  &__button{
    width: 90%;
    font-family: Copperplate,Copperplate Gothic Light,fantasy;
    font-size: 1.05rem;
    line-height: 1.1;
    color: #fff;
    text-shadow: -1px -1px 0 #572158;
    background: linear-gradient(90deg,#5d295d,transparent 15%,transparent 85%,#5d295d),linear-gradient(#5d295d,#bc80b4 50%,#5d295d);
    border: solid 1px #dac1d8;
    box-shadow: 0 0 0 2px #713a71, 0px 4px 6px 0px #521f53;
    border-radius: 50px;
    padding: 5.5px;
    margin-bottom: 15px;
    display: inline-block;
    z-index: 2;
    will-change: transform;
    transition: all .3s ease-out;
    &_info{
      background: linear-gradient(90deg,#2655a2,transparent 15%,transparent 85%,#2655a2),linear-gradient(#2655a2,#469fda 50%,#2655a2);
      box-shadow: 0 0 0 2px #469fda, 0px 4px 6px 0px #2655a2;
    }
    &:hover {
      transition: all .2s ease-out;
      background: linear-gradient(90deg,$gold,transparent 15%,transparent 85%,$gold),linear-gradient($gold,#FFFFFF 50%,$gold);
      color: $purple;
      text-shadow: -1px 0 0 #FFFFFF;
      box-shadow: 0 0 0 2px #713a71, 0px 4px 6px 0px #521f53,0 0 8px 0px #fff;
      transform: scale(1.05);
      .hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
          background-color: $purple;
          box-shadow: 0px -1px 5px 0px $white;
      }
    }
  }
}
// NAVEGACION MOVIL INI
.toggle__main{
  @include to(l){
    position: absolute;
    @include edItem(100,50);
    will-change: transform;
    transition: .5s all;
    transform: translateX(-100%);
    z-index: 10;  
    background: rgba(254, 250, 247, 0.5);
    box-shadow: 0px 3px 20px 0px rgba(90, 33, 88, 0.62);
  }
  &_active{
    transform: translateX(0);
  } 
}
.toggle__button{
  display: none;
  @include to(l){
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    height: 50px;
  }
  &:active,&_active{
    color: $purple;
    text-shadow: -1px 0 0 $white;
    background: linear-gradient(90deg,$gold,transparent 15%,transparent 85%,$gold),linear-gradient($gold,#FFFFFF 50%,$gold);
    box-shadow: -6px 5px 0 0 $purple, -6px 5px 0 2px lighten($gold,5);
    .hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
      background-color: $purple;
      box-shadow: 0px -1px 5px 0px $white;
    }
  }
}
.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
    background-color: $white;
    box-shadow: 0px -1px 5px 0px $purple;
}
.toggle__inicio{
  display: none;
  @include to(l){
    @include mainDistribute;
    list-style: none;
    padding-left: 0;
  }
}
// NAVEGACION MOVIL END
// CONTENIDO INI
.title__section{
  width: 100%;
  margin: 0;
  text-align: center;  
  background: linear-gradient(#af77ae 0,transparent 50%,#af77ae 100%),linear-gradient(90deg,#ad72a6,#632e62,#bc80b4);
  color: $white;
  padding: 7px 10px;
  text-transform: uppercase;
  transform-origin: top;
  transform: scaleY(0.9);
  font-weight: 900;
  font-size: 2rem;
  &_info{        
    background: linear-gradient(#469fda 0,transparent 50%,#469fda 100%),linear-gradient(90deg,#469fda,#2655a2,#469fda);        
  }
}
.title__content{
    font-size: 40px;
    line-height: .8em;
    margin-top: 20px;
    margin-bottom: 20px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    color: $purple;
    border-bottom: 2.5px solid transparent;
    border-image: linear-gradient(90deg,$purple, lighten($purple,20) 11%,$gold 39%,lighten($yellow, 10) 50%,transparent 100%);
    border-image-slice: 1;
}
.subtitle__content{
  font-size: 1.7em;
  -webkit-margin-before: 0.5em;
  -webkit-margin-after: 0.5em;
  -webkit-margin-start: 5px;
  -webkit-margin-end: 0px;
  font-weight: bold;
  // margin-top: 20px;
  margin-bottom: 20px;
  color: #824b7f;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 3px solid transparent;
  border-image: linear-gradient(90deg,#f57711 0,#f68711 11%,#ffab40 39%,#ffbb5f 60%,rgba(207,99,27,0) 100%);
  border-image-slice: 1;
}
.aside{
  @include edItem(100, 40,25,20);
  height: 100%;
  padding: 0;
  &__content{
    display: none;
    @include from(m){
      display: block;
      width: 100%;
      padding: 0;
    }
    .aside__main{
      max-height: 100vh;
      overflow: hidden;
      overflow-y: auto;
    }
  }
  &__movil{
    @include from(m){
      display: none;
    }
    display: block;
    width: 100%;
  }
  &__main{
    font-family: Copperplate,Copperplate Gothic Light,fantasy;
    font-size: 1rem;
    margin: 0;
    padding-left: 0;
    list-style: none;
    padding: 0;
  }
  &__item{
    border-bottom: solid 1px darken($silver , 10);
    a:hover, a.active{
      text-decoration: none;
      color: darken($lightpurple, 25);
      will-change: transform;
      transform: scale(1.02);
    }
    a.active{
      background: #ffd9c3;
      text-shadow: 1px 1px 1px $white;
    }
    a{
      display: block;
      padding: 10px 10px 10px 20px;
      color: darken($lightpurple, 5);
      transform: scale(1);
      transition: 0.3s all;
    }
  }
}
.article{
  @include edContainer;
  @include edItem(100, 60,75,80);
}
.content_text{
  font-size: 1.2rem;
  margin-bottom: 0;
}
.gallery{
  @include edContainer;
  &__item{
    @include edItem(50,50,33,33);
  }
}
// CONTENIDO END
// FORM CONTACT INI
input[type=number]::-webkit-outer-spin-button,input[type=number]::-webkit-inner-spin-button {-webkit-appearance: none;margin: 0;}
input[type=number] {-moz-appearance:textfield;}
.form__label {
    width: 100%;
    color: $purple;
}
.form__input {
    width: 100%;
    background: #efefef;
    color: #000;
    border-radius: 5px;
    padding: 8px;
    margin-bottom: 5px;
}
.form_buttons{
  text-align: center;
}
.form__button {
    width: 40%;
    font-family: Copperplate,Copperplate Gothic Light,fantasy;
    font-size: 1.3rem;
    line-height: 1.1;
    padding: 10px;
    margin-left: 20px;
    margin-bottom: 15px;

    // display: inline-block;
    z-index: 1;
    will-change: transform;
    transition: all .3s ease-out;
    &:hover {
      transition: all .2s ease-out;
      transform: translate3d(-4px,4px,0);
    }
}
// FORM CONTACT END
// FOOTER INI
.footer{
  display: block;
  position: relative;
  margin-top: 15px;
  background: linear-gradient(#592158,transparent 380%),url(images/pattern.png) repeat 0 0;
  border-top: 7px solid transparent;
  border-image: linear-gradient(90deg,#fff -10%,#d58205 40%,47%,#fff 50%,53%,#d58205 60%,#fff 110%);
  border-image-slice: 1;
  box-shadow: 0 0 10px 0 #592158;
  border-radius: 10px 10px 0 0;
  &__item{
    &:nth-child(1){
      @include edItem(100, 100,32); 
      display: block;
      float: left;
      position: relative;
      height: 100%;
      padding-left: 5px;
      padding-right: 5px;  
      margin-bottom: 15px;
    }
    &:nth-child(2){
      @include edItem(100, 100,38);
      display: block;
      float: left;
      position: relative;
      height: 100%;
      padding-left: 5px;
      padding-right: 5px;  
      margin-bottom: 15px;
    }
    &:nth-child(3){
      @include edItem(100, 100,30);
      display: block;
      float: left;
      position: relative;
      height: 100%;
      padding-left: 5px;
      padding-right: 5px;  
      margin-bottom: 15px;
    }
  }
  &__itemcontent{
    position: relative;
    width: 100%;
    height: 100%;
    @include fromTo(l,xl){
      height: 200px;
    }
    @include from(xl){
      height: 190px;
    }
    padding-top: 5px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 10px;
  }
  &__text{
    display: inline-block;
    width: 100%;
    color: $white;
    margin-top: 0;
    margin-bottom: 10px;
    text-align: center;
    span{
      display: inline-block;
    }
  }
  &__title{
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: Copperplate,Copperplate Gothic Light,fantasy;
    font-weight: 500;
    font-size: 2rem;
    line-height: 1;
    color: $gold;
    text-align: center;
    text-shadow: -0.5px 0.2px 0px $white;
  }
  &__main{
    list-style: none;
    &_item{
      position: relative;
      padding-left: 15px;
      a{
        color: $white;
        &::after{
          content: "";
          position: absolute;
          top: 50%;
          left: 0;
          width: 0;
            height: 0;
          transform: translateY(-50%);
          border: solid 5px transparent;
          border-left: solid 10px $white;
          border-right: solid 0px;
        }
      }
    }
  }
}
.social{
  padding: 10px;
  list-style: none;
  a{text-decoration: none;}
}
.header__social{
  display: none;
  @include from(l){
    display: block;
    position: absolute;
    width: 22%;
    top: 23%;
    left: 0;
    transform: translateY(-50%);
    .icon-facebook,.icon-youtube,.icon-twitter{
      color: $white;
      background: radial-gradient($purple 0, transparent 250%);
      &:hover{
        background: radial-gradient($white 0, transparent 250%);
        transform: rotate(1turn);
      }
    }
  }
}
.footer__social{
  display: none;
  @include to(l){
    display: block;
    margin: 0;
    text-align: center;
    .icon-facebook,.icon-youtube,.icon-twitter{
      color: lighten($purple, 5);
      background: radial-gradient($white 0, transparent 250%);
    }
  }
}
.social__icon{
  display: inline-block;
}
.icon-facebook,.icon-youtube,.icon-twitter{
    @include mainCenter;
    width: 50px;
    height: 50px;
    padding-top: 0.55rem;
    font-size: 2rem;
    border-radius: 50px;
    transition: all .5s;
    margin: 0 5px;
  }
.icon-facebook{
  &:hover{
    color: #4862a3;
  }
}
.icon-youtube{
  &:hover{
    color: #fd0000;
  }
}
.icon-twitter{
  &:hover{
    color: #1ca0f1;
  }
}
a.ah{
  font-size: 0.8rem;
  opacity: 0.5;
  display: block;
  &.hover{
    opacity: 0.8;
  }
}
.block{
  display: block;
}
.col100{
  @include edItem(100);
}
.col30{
  @include edItem(100,50,35,30);
}
.col70{
  @include edItem(100,50,65,70);
}
.col-30{
  @include edItem(100,100,50,30);
}
.col-70{
  @include edItem(100,100,100,70);
}
.col50{
  @include edItem(100,100,100,50);
}
/*MODAL IMAGES*/
.modal{
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  z-index: 0;
  &__item{
    position: absolute;
    top: 5%;
    left: 12%;
    background: #fefefe;
    border: 1px solid #888;
    width: 76%;
    height: 90%;
    z-index: 1; 
  }
  &__close{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background: rgba(0, 0, 0, 0.50);
    
  }
}
.whatsapp{
  position: relative;
  padding-left: 35px;
  padding-top: 7px;
  padding-bottom: 7px;
 &::after{
   content: '';
   position: absolute;
   width: 30px;
   height: 30px;
   top: 50%;
   left: 0;
   transform: translateY(-50%);
   background: url('images/whatsapp.png');
 }
}
hr{
  background: silver;;
}
/*LIGHTBOX CSS*/
.lb-album{
  @include mainJustify;
	font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
  list-style: none;
  padding-left: 0;
}
.lb-album li{
  @include edItem(50,100,50,33);
  position: relative;
  margin-bottom: 10px;
}
.lb-album li > a,
.lb-album li > a img{
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.lb-album li > a{
	width: 100%;
  height: 250px;
  @include to(m){
    height: 150px;
  }
	position: relative;
	padding: 10px;
	background: rgb(255, 192, 96);
	box-shadow: 1px 1px 2px #fff, 1px 1px 2px rgba(158,111,86,0.3) inset;	
	border-radius: 4px 4px 4px 4px;
	color: #333;
  text-decoration: none;
}
.lb-album li > a span{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100% - 19px);
  height: 230px;
  @include to(m){
    height: 130px;
  }
	top: 10px;
	left: 10px;
	text-align: center;
	line-height: 1;
	color: #5a2158;
	text-shadow: 0px 1px 1px rgba(255,255,255,0.6);
	font-size: 24px;
	opacity: 0;
  background: rgba(255, 153, 0, 0.57);
  will-change: transform;
  transform: scale(0);
	transition: 0.4s all;
}
.lb-album li > a:hover {
  background: linear-gradient(#713b70, #b479ad);
  span{
    opacity: 1;
    transform: scale(1);
  }
}
.lb-overlay{
	width: 100%;
	height: 100%;
	position: fixed;
	overflow: hidden;
	left: 0;
	top: 0;
  padding: 80px 100px 120px 100px;
	z-index: -1;
	text-align: center;
	background:rgba(99, 42, 98, 0.65);
	margin: 0 auto 0;
  text-shadow: 0px 1px 1px rgba(255,255,255,0.6);
  will-change: opacity;
  opacity: 0;
  transition: 0.3s all;
}
.lb-content{
  width: 100%;
  height: 100%;
  background: #fff1e4;
}
.lb-overlay div h3,
.lb-overlay div p{
	padding: 0px 20px;
	width: 100%;
	height: 60px;
}
.lb-overlay div h3{
	font-size: 36px;
	float: left;
	text-align: center;
	border-right: 1px solid rgba(27,54,81,0.4);
}
.lb-overlay div h3 span,
.lb-overlay div p{
	font-size: 16px;
	font-family: Constantia, Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
	font-style: italic;
}
.lb-overlay div h3 span{
	display: block;
	line-height: 6px;
}
.lb-overlay div p{
	font-size: 14px;
	text-align: left;
	float: left;
	width: 260px;
}
.lb-overlay a.lb-close{
    background: linear-gradient(#ff7b00,#bf5c00,#ff7b00);
    border-radius: 5px;
    z-index: 3;
    color: #fff;
    position: absolute;
    top: 33px;
    left: 50%;
    font-size: 1.2rem;
    line-height: 1.8rem;
    width: 75px;
    height: 27px;
    overflow: hidden;
    opacity: 0;
    transform: translateX(-50%);
    box-shadow: 0 1px 2px rgba(0,0,0,.3);
}
.lb-overlay img{
	max-height: 100%;
	position: relative;
  opacity: 0;
	box-shadow: 0px 2px 7px rgba(0,0,0,0.2);
	transition: opacity 0.5s linear;
}
.lb-prev, .lb-next{
	text-indent: -9000px;
	position: absolute;
	top: 50%;
	width: 24px;
	height: 25px;
  opacity: 0.8;
  transform: translateY(-50%);
}
.lb-prev{
  left: 55px;
} 
.lb-next{
  left: calc(100% - 55px);
}
.lb-prev:hover, .lb-next:hover{
	opacity: 1;
}
.lb-prev{
	margin-left: -30px;
	background: transparent url(../images/arrows.png) no-repeat top left;
}
.lb-next{
	margin-left: 6px;
	background: transparent url(../images/arrows.png) no-repeat top right;
}
.lb-overlay:target {
	width: 100%;
  height: 100%;
  z-index: 99;
	left: 0;
	top: 0;
  opacity: 1;
  transition: 0.8s all;
}
.lb-overlay:target img,
.lb-overlay:target a.lb-close{
  opacity: 1;
}

x:-o-prefocus, .lb-overlay img {
    height: 100%;
}

