.csslider1 > .cs_arrowprev > label span:after,
.csslider1 > .cs_arrownext > label span:after {padding: 15px !important;}
.csslider1 > ul {
    border: solid 2px #592158;
    border-radius: 25px;
    box-shadow: 0 0 0 3px #d58200, inset 0 0 20px 0px #ffffff, 0 0 10px 0px #5b2259;
}
.csslider1 > ul::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(78, 78, 78, 0) url(/../images/pattern.png) repeat top left;
    z-index: 2;
}
.csslider1 > .cs_description > label {
    font-size: 2.25rem;
    max-width: 80%;
}
.csslider1 > .cs_description > label > .cs_title {
    background-color: transparent;
    background-image: linear-gradient(rgba(255, 255, 255, 0.66),
    rgba(255, 255, 255, 0.31),
    rgba(255, 255, 255, 0.55));
}
.csslider1 > .cs_description > label > .cs_descr {
    background: rgba(89, 33, 88, 0.8);
}