
/* ------------- General ------------- */
@import url(https://fonts.googleapis.com/css?family=Bitter);
@font-face {
	font-family: "cs-ctrl-rhomb";
	src: url("cs-ctrl-rhomb.eot");
	src: url("cs-ctrl-rhomb.eot#iefix") format("embedded-opentype"),
			url("cs-ctrl-rhomb.woff") format("woff"),
			url("cs-ctrl-rhomb.ttf") format("truetype"),
			url("cs-ctrl-rhomb.svg#basic") format("svg");
	font-weight: normal;
	font-style: normal;
}

.csslider1 {
  display: inline-block;
  position: relative;
  
  height: 500px;
  

  width: 100%;
}
.csslider1,
.csslider1 *,
.csslider1 *:after,
.csslider1 *:before {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.csslider1 > .cs_anchor {
  display: none;
}
.csslider1 > ul {
  position: relative;
  z-index: 1;
  font-size: 0;
  line-height: 0;
  margin: 0 auto;
  padding: 0;
  height: 500px;
  overflow: hidden;
  white-space: nowrap;
}
.csslider1 > ul > .cs_skeleton {
  width: 100%;
  visibility: hidden;
  font-size: 0px;
  line-height: 0;
}

.csslider1 > ul > .slide.img img {
  width: 100%;
}



.csslider1 > ul > .slide.img a {
  font-size: 0pt;
  color: transparent;
}
.csslider1 > ul > .slide {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-size: 15px;
  font-size: initial;
  line-height: normal;
  white-space: normal;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}
.csslider1 .cs_engine{
  position: absolute;
  top: -9999px;
  left: -9999px;
  font-size: 0pt;
  opacity: 0;
  filter: alpha(opacity=0);
}

.csslider1 > ul > li.img,
.csslider1 > .cs_arrowprev,
.csslider1 > .cs_arrownext,
.csslider1 > .cs_bullets,
.csslider1 > .cs_play_pause {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* ------------- /General Styles ------------- */

/* ------------- General Arrows ------------- */
.csslider1 > .cs_arrowprev,
.csslider1 > .cs_arrownext {
  position: absolute;
  top: 50%;
  z-index: 5;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.csslider1 > .cs_arrowprev > label,
.csslider1 > .cs_arrownext > label {
  position: absolute;
  text-decoration: none;
  cursor: pointer;
  opacity: 0;
  z-index: -1;
}
.csslider1 > .cs_arrowprev {
  left: 0;
}
.csslider1 > .cs_arrownext {
  right: 0;
}

.csslider1 > .slide:checked ~ .cs_arrowprev > label,
.csslider1 > .slide:checked ~ .cs_arrownext > label {
  opacity: 0;
  z-index: -1;
}



.csslider1 > #cs_slide1_0:checked ~ .cs_arrowprev > label.num5,
.csslider1 > #cs_pause1_0:checked ~ .cs_arrowprev > label.num5,
.csslider1 > #cs_slide1_0:checked ~ .cs_arrownext > label.num1,
.csslider1 > #cs_pause1_0:checked ~ .cs_arrownext > label.num1, 
.csslider1 > #cs_slide1_1:checked ~ .cs_arrowprev > label.num0,
.csslider1 > #cs_pause1_1:checked ~ .cs_arrowprev > label.num0,
.csslider1 > #cs_slide1_1:checked ~ .cs_arrownext > label.num2,
.csslider1 > #cs_pause1_1:checked ~ .cs_arrownext > label.num2, 
.csslider1 > #cs_slide1_2:checked ~ .cs_arrowprev > label.num1,
.csslider1 > #cs_pause1_2:checked ~ .cs_arrowprev > label.num1,
.csslider1 > #cs_slide1_2:checked ~ .cs_arrownext > label.num3,
.csslider1 > #cs_pause1_2:checked ~ .cs_arrownext > label.num3, 
.csslider1 > #cs_slide1_3:checked ~ .cs_arrowprev > label.num2,
.csslider1 > #cs_pause1_3:checked ~ .cs_arrowprev > label.num2,
.csslider1 > #cs_slide1_3:checked ~ .cs_arrownext > label.num4,
.csslider1 > #cs_pause1_3:checked ~ .cs_arrownext > label.num4, 
.csslider1 > #cs_slide1_4:checked ~ .cs_arrowprev > label.num3,
.csslider1 > #cs_pause1_4:checked ~ .cs_arrowprev > label.num3,
.csslider1 > #cs_slide1_4:checked ~ .cs_arrownext > label.num5,
.csslider1 > #cs_pause1_4:checked ~ .cs_arrownext > label.num5, 
.csslider1 > #cs_slide1_5:checked ~ .cs_arrowprev > label.num4,
.csslider1 > #cs_pause1_5:checked ~ .cs_arrowprev > label.num4,
.csslider1 > #cs_slide1_5:checked ~ .cs_arrownext > label.num0,
.csslider1 > #cs_pause1_5:checked ~ .cs_arrownext > label.num0 {
  opacity: 1;
  z-index: 5;
}


@-webkit-keyframes arrow {
  0%, 16.656666666666666% { opacity: 1; z-index: 5; }
  16.666666666666668%, 100%  { opacity: 0; z-index: -1; }
}
@keyframes arrow {
  0%, 16.656666666666666% { opacity: 1; z-index: 5; }
  16.666666666666668%, 100%  { opacity: 0; z-index: -1; }
}


.csslider1 > #cs_play1:checked ~ .cs_arrowprev > label.num5,
.csslider1 > #cs_play1:checked ~ .cs_arrownext > label.num1 {
  -webkit-animation: arrow 48000ms infinite -2000ms;
  animation: arrow 48000ms infinite -2000ms;
}
.csslider1 > #cs_play1:checked ~ .cs_arrowprev > label.num0,
.csslider1 > #cs_play1:checked ~ .cs_arrownext > label.num2 {
  -webkit-animation: arrow 48000ms infinite 6000ms;
  animation: arrow 48000ms infinite 6000ms;
}
.csslider1 > #cs_play1:checked ~ .cs_arrowprev > label.num1,
.csslider1 > #cs_play1:checked ~ .cs_arrownext > label.num3 {
  -webkit-animation: arrow 48000ms infinite 14000ms;
  animation: arrow 48000ms infinite 14000ms;
}
.csslider1 > #cs_play1:checked ~ .cs_arrowprev > label.num2,
.csslider1 > #cs_play1:checked ~ .cs_arrownext > label.num4 {
  -webkit-animation: arrow 48000ms infinite 22000ms;
  animation: arrow 48000ms infinite 22000ms;
}
.csslider1 > #cs_play1:checked ~ .cs_arrowprev > label.num3,
.csslider1 > #cs_play1:checked ~ .cs_arrownext > label.num5 {
  -webkit-animation: arrow 48000ms infinite 30000ms;
  animation: arrow 48000ms infinite 30000ms;
}
.csslider1 > #cs_play1:checked ~ .cs_arrowprev > label.num4,
.csslider1 > #cs_play1:checked ~ .cs_arrownext > label.num0 {
  -webkit-animation: arrow 48000ms infinite 38000ms;
  animation: arrow 48000ms infinite 38000ms;
}


.csslider1 > .slide:checked ~ .cs_arrowprev > label,
.csslider1 > .slide:checked ~ .cs_arrownext > label,
.csslider1 > .pause:checked ~ .cs_arrowprev > label,
.csslider1 > .pause:checked ~ .cs_arrownext > label {
  -webkit-animation: none;
  animation: none;
}


/* ------------- /General Arrows ------------- */

/* ------------- General Bullets ------------- */
.csslider1 > .cs_bullets {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 6;
  font-size: 0;
  line-height: 8pt;
  text-align: center;
}
.csslider1 > .cs_bullets > div {
  margin-left: -50%;
  width: 100%;
}
.csslider1 > .cs_bullets > label {
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.csslider1 > .cs_bullets > label > .cs_thumb {
  visibility: hidden;
  position: absolute;
  opacity: 0;
  z-index: 1;
  line-height: 0;
  left: -38px;
  bottom: -48px;
}
.csslider1 > .cs_bullets > label > .cs_thumb > img {
  max-width: none;
}
/* ------------- /General Bullets ------------- */

/* ------------- General Description ------------- */
.csslider1 > .cs_description {
  z-index: 3;
}
.csslider1 > .cs_description a,
.csslider1 > .cs_description a:visited,
.csslider1 > .cs_description a:active {
  color: inherit;
}
.csslider1 > .cs_description a:hover {
  text-decoration: none;
}
.csslider1 > .cs_description > label {
  position: absolute;
  word-wrap: break-word;
  white-space: normal;
  text-align: left;
  max-width: 50%;
  left: 0;
}
.csslider1 > .cs_description > label > span {
  vertical-align: top;
}
.csslider1 > .cs_description > label span {
  display: inline-block;
}
/* ------------- /General Description ------------- */

/* ------------- General Play Pause ------------- */
.csslider1 > .cs_play_pause {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 5;
}
.csslider1 > .cs_play_pause > label {
  position: absolute;
  cursor: pointer;
}
.csslider1 > #cs_play1:checked ~ .cs_play_pause > .cs_pause,
.csslider1 > .slide:checked ~ .cs_play_pause > .cs_play,
.csslider1 > .pause:checked ~ .cs_play_pause > .cs_play {
  display: block;
  z-index: 5;
}
.csslider1 > #cs_play1:checked ~ .cs_play_pause > .cs_play,
.csslider1 > .slide:checked ~ .cs_play_pause > .cs_pause,
.csslider1 > .pause:checked ~ .cs_play_pause > .cs_pause {
  display: none;
  z-index: -1;
}



@-webkit-keyframes pauseChange {
  0%, 16.656666666666666% { opacity: 1; z-index: 5; }
  16.666666666666668%, 100%  { opacity: 0; z-index: -1; }
}
@keyframes pauseChange {
  0%, 16.656666666666666% { opacity: 1; z-index: 5; }
  16.666666666666668%, 100%  { opacity: 0; z-index: -1; }
}


.csslider1 > #cs_play1:checked ~ .cs_play_pause > .cs_pause.num0 {
  opacity: 0;
  z-index: -1;
  -webkit-animation: pauseChange 48000ms infinite -2000ms;
  animation: pauseChange 48000ms infinite -2000ms;
}
.csslider1 > #cs_play1:checked ~ .cs_play_pause > .cs_pause.num1 {
  opacity: 0;
  z-index: -1;
  -webkit-animation: pauseChange 48000ms infinite 6000ms;
  animation: pauseChange 48000ms infinite 6000ms;
}
.csslider1 > #cs_play1:checked ~ .cs_play_pause > .cs_pause.num2 {
  opacity: 0;
  z-index: -1;
  -webkit-animation: pauseChange 48000ms infinite 14000ms;
  animation: pauseChange 48000ms infinite 14000ms;
}
.csslider1 > #cs_play1:checked ~ .cs_play_pause > .cs_pause.num3 {
  opacity: 0;
  z-index: -1;
  -webkit-animation: pauseChange 48000ms infinite 22000ms;
  animation: pauseChange 48000ms infinite 22000ms;
}
.csslider1 > #cs_play1:checked ~ .cs_play_pause > .cs_pause.num4 {
  opacity: 0;
  z-index: -1;
  -webkit-animation: pauseChange 48000ms infinite 30000ms;
  animation: pauseChange 48000ms infinite 30000ms;
}
.csslider1 > #cs_play1:checked ~ .cs_play_pause > .cs_pause.num5 {
  opacity: 0;
  z-index: -1;
  -webkit-animation: pauseChange 48000ms infinite 38000ms;
  animation: pauseChange 48000ms infinite 38000ms;
}


.csslider1 > .slide:checked ~ .cs_play_pause > .cs_pause,
.csslider1 > .pause:checked ~ .cs_play_pause > .cs_pause {
  -webkit-animation: none;
  animation: none;
}


/* ------------- /General Play Pause ------------- */

/* ------------- Effect ------------- */


.csslider1 > ul > .slide {
  position: absolute;
  left: 0;
  top: 0;
  display: inline-block;
  opacity: 0;
  z-index: 1;
  
  -webkit-transition:
    opacity 2000ms ease,
    -webkit-transform 24000ms cubic-bezier(0.840, 0.970, 0.855, 1.000);
  transition:
    opacity 2000ms ease,
    -webkit-transform 24000ms cubic-bezier(0.840, 0.970, 0.855, 1.000),
    transform 24000ms cubic-bezier(0.840, 0.970, 0.855, 1.000);
}

.csslider1 > ul > .slide.num0 {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  
      -webkit-transform-origin: 100% 0;
      transform-origin: 100% 0;
  
}
.csslider1 > ul > .slide.num1 {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  
      -webkit-transform-origin: 0 0;
      transform-origin: 0 0;
      
}
.csslider1 > ul > .slide.num2 {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  
      -webkit-transform-origin: 100% 100%;
      transform-origin: 100% 100%;
      
}
.csslider1 > ul > .slide.num3 {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  
      -webkit-transform-origin: 0 100%;
      transform-origin: 0 100%;
      
}
.csslider1 > ul > .slide.num4 {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  
      -webkit-transform-origin: 100% 0;
      transform-origin: 100% 0;
  
}
.csslider1 > ul > .slide.num5 {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  
      -webkit-transform-origin: 0 0;
      transform-origin: 0 0;
      
}



.csslider1 > #cs_slide1_0:checked ~ ul > .slide.num0,
.csslider1 > #cs_pause1_0:checked ~ ul > .slide.num0,.csslider1 > #cs_slide1_1:checked ~ ul > .slide.num1,
.csslider1 > #cs_pause1_1:checked ~ ul > .slide.num1,.csslider1 > #cs_slide1_2:checked ~ ul > .slide.num2,
.csslider1 > #cs_pause1_2:checked ~ ul > .slide.num2,.csslider1 > #cs_slide1_3:checked ~ ul > .slide.num3,
.csslider1 > #cs_pause1_3:checked ~ ul > .slide.num3,.csslider1 > #cs_slide1_4:checked ~ ul > .slide.num4,
.csslider1 > #cs_pause1_4:checked ~ ul > .slide.num4,.csslider1 > #cs_slide1_5:checked ~ ul > .slide.num5,
.csslider1 > #cs_pause1_5:checked ~ ul > .slide.num5 {
  opacity: 1;
  z-index: 2;
  -webkit-transform: scale(1);
  transform: scale(1);
}



@-webkit-keyframes kenburns1 {
  0.001%, 16.665666666666667%  { z-index: 2; }
  0%, 100% {
    opacity: 0;
    -webkit-transform: scale(2);
    transform: scale(2);
  }
  4.166666666666667%, 16.666666666666668% { opacity: 1 }
  20.833333333333336%, 83.33333333333333% {
    opacity: 0;
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
  16.66766666666667%, 100%  { z-index: 1; }
}
@keyframes kenburns1 {
  0.001%, 16.665666666666667%  { z-index: 2; }
  0%, 100% {
    opacity: 0;
    -webkit-transform: scale(2);
    transform: scale(2);
  }
  4.166666666666667%, 16.666666666666668% { opacity: 1 }
  20.833333333333336%, 83.33333333333333% {
    opacity: 0;
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
  16.66766666666667%, 100%  { z-index: 1; }
}


.csslider1 > #cs_play1:checked ~ ul > .slide.num0 {
  -webkit-animation: kenburns1 48000ms infinite -2000ms linear;
  animation: kenburns1 48000ms infinite -2000ms linear;
}
.csslider1 > #cs_play1:checked ~ ul > .slide.num1 {
  -webkit-animation: kenburns1 48000ms infinite 6000ms linear;
  animation: kenburns1 48000ms infinite 6000ms linear;
}
.csslider1 > #cs_play1:checked ~ ul > .slide.num2 {
  -webkit-animation: kenburns1 48000ms infinite 14000ms linear;
  animation: kenburns1 48000ms infinite 14000ms linear;
}
.csslider1 > #cs_play1:checked ~ ul > .slide.num3 {
  -webkit-animation: kenburns1 48000ms infinite 22000ms linear;
  animation: kenburns1 48000ms infinite 22000ms linear;
}
.csslider1 > #cs_play1:checked ~ ul > .slide.num4 {
  -webkit-animation: kenburns1 48000ms infinite 30000ms linear;
  animation: kenburns1 48000ms infinite 30000ms linear;
}
.csslider1 > #cs_play1:checked ~ ul > .slide.num5 {
  -webkit-animation: kenburns1 48000ms infinite 38000ms linear;
  animation: kenburns1 48000ms infinite 38000ms linear;
}


.csslider1 > #cs_play1:checked ~ ul > .slide,
.csslider1 > .pause:checked ~ ul > .slide {
  
  -webkit-transition: none;
  transition: none;
}

/* ------------- /Effect ------------- */

/* ------------- Template Show on hover ------------- */
.csslider1 > .cs_play_pause {
  -webkit-transition: .4s all 0s ease;
  transition: .4s all 0s ease;
}
.csslider1 > .cs_arrowprev {
  -webkit-transition: .4s all .15s ease;
  transition: .4s all .15s ease;
}
.csslider1 > .cs_arrownext {
  -webkit-transition: .4s all .3s ease;
  transition: .4s all .3s ease;
}
.csslider1 > .cs_arrowprev,
.csslider1 > .cs_arrownext,
.csslider1 > .cs_play_pause {
  opacity: 0;
  -webkit-transform: translateY(-30px);
  transform: translateY(-30px);
}

.csslider1:hover > .cs_arrowprev,
.csslider1:hover > .cs_arrownext,
.csslider1:hover > .cs_play_pause {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
/* ------------- /Template Show on hover ------------- */

/* ------------- Template Arrows ------------- */
.csslider1 > .cs_arrowprev > label,
.csslider1 > .cs_arrownext > label {
  height: 50px;
  width: 50px;
  margin-top: -25px;
  margin-left: -25px;
  border-radius: 3px;
  color: #FFF;
  box-shadow: inset 0 0 0 2px #fff;
  -webkit-transition: background 200ms ease-in-out, -webkit-transform 200ms ease-in-out, box-shadow 200ms ease-in-out;
  transition: background 200ms ease-in-out, transform 200ms ease-in-out, -webkit-transform 200ms ease-in-out, box-shadow 200ms ease-in-out;
}
.csslider1 > .cs_arrowprev {
  left: 45px;
}
.csslider1 > .cs_arrownext {
  right: 45px;
}

.csslider1 > .cs_arrowprev:hover > label,
.csslider1 > .cs_arrownext:hover > label {
  background: #592158;
  box-shadow: inset 0 0 0 2px #592158;

  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.csslider1 > .cs_arrowprev:hover > label span,
.csslider1 > .cs_arrownext:hover > label span {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}


.csslider1 > .cs_arrowprev > label span,
.csslider1 > .cs_arrownext > label span {
  display: block;
  -webkit-transition: -webkit-transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
}
.csslider1 > .cs_arrowprev > label span:after,
.csslider1 > .cs_arrownext > label span:after {
  font: 20px "cs-ctrl-rhomb";
  line-height: 50px;
  height: 100%;
  text-align: center;
}

/* IE10+ hack */
_:-ms-input-placeholder, :root .csslider1 > .cs_arrowprev > label span:after {
  line-height: 61px;
}
_:-ms-input-placeholder, :root .csslider1 > .cs_arrownext > label span:after {
  line-height: 61px;
}

.csslider1 > .cs_arrowprev > label span:after {
  content: '\e802';
}
.csslider1 > .cs_arrownext > label span:after {
  content: '\e803';
}


/* ------------- /Template Arrows ------------- */

/* ------------- Template Play Pause ------------- */
.csslider1 > .cs_play_pause > label{
  height: 50px;
  width: 50px;
  margin-top: -25px;
  margin-left: -25px;
  border-radius: 3px;
  color: #FFF;
  box-shadow: inset 0 0 0 2px #fff;
  -webkit-transition: background 200ms ease-in-out, -webkit-transform 200ms ease-in-out, box-shadow 200ms ease-in-out;
  transition: background 200ms ease-in-out, transform 200ms ease-in-out, -webkit-transform 200ms ease-in-out, box-shadow 200ms ease-in-out;
}
.csslider1 > .cs_play_pause:hover > label {
  background: #592158;
  box-shadow: inset 0 0 0 2px #592158;

  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.csslider1 > .cs_play_pause:hover > label span {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.csslider1 > .cs_play_pause > label span {
  display: block;
  -webkit-transition: -webkit-transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
}
.csslider1 > .cs_play_pause > label span:after{
  display: block;
  font: 20px "cs-ctrl-rhomb";
  line-height: 50px;
  text-align: center;
}


/* IE10+ hack */
_:-ms-input-placeholder, :root .csslider1 > .cs_play_pause > label span:after {
  line-height: 57px;
}

.csslider1 > .cs_play_pause > .cs_play span:after {
  content: '\e800';
}
.csslider1 > .cs_play_pause > .cs_pause span:after {
  content: '\e801';
}



/* ------------- /Template Play Pause ------------- */

/* ------------- Template Bullets ------------- */
.csslider1 > .cs_bullets {
  top: 5px;
  margin-top: 5px;
}
.csslider1 > .cs_bullets > label {
  margin: 3px 6px;
  padding: 8px;
}


.csslider1 > .cs_bullets > label > .cs_thumb {
  margin-bottom: -150%;
  margin-left: 5px;
  border: 2px solid #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.csslider1 > .cs_bullets > label > .cs_thumb:before {
  content: '';
  position: absolute;
  height: 10px;
  width: 100%;
  top: -10px;
}
.csslider1 > .cs_bullets > label:hover > .cs_thumb {
  margin-bottom: -10px;
  opacity: 1;
  visibility: visible;
}


.csslider1 > .cs_bullets > label > .cs_point {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  border-radius: 3px;
  box-shadow: inset 0 0 0 2px #fff;

  -webkit-transition: background 200ms ease-in-out, -webkit-transform 200ms ease-in-out, box-shadow 200ms ease-in-out;
  transition: background 200ms ease-in-out, transform 200ms ease-in-out, -webkit-transform 200ms ease-in-out, box-shadow 200ms ease-in-out;
}


.csslider1 > .cs_bullets > label:hover > .cs_point,

.csslider1 > #cs_slide1_0:checked ~ .cs_bullets > label.num0 > .cs_point,
.csslider1 > #cs_pause1_0:checked ~ .cs_bullets > label.num0 > .cs_point,
.csslider1 > #cs_slide1_1:checked ~ .cs_bullets > label.num1 > .cs_point,
.csslider1 > #cs_pause1_1:checked ~ .cs_bullets > label.num1 > .cs_point,
.csslider1 > #cs_slide1_2:checked ~ .cs_bullets > label.num2 > .cs_point,
.csslider1 > #cs_pause1_2:checked ~ .cs_bullets > label.num2 > .cs_point,
.csslider1 > #cs_slide1_3:checked ~ .cs_bullets > label.num3 > .cs_point,
.csslider1 > #cs_pause1_3:checked ~ .cs_bullets > label.num3 > .cs_point,
.csslider1 > #cs_slide1_4:checked ~ .cs_bullets > label.num4 > .cs_point,
.csslider1 > #cs_pause1_4:checked ~ .cs_bullets > label.num4 > .cs_point,
.csslider1 > #cs_slide1_5:checked ~ .cs_bullets > label.num5 > .cs_point,
.csslider1 > #cs_pause1_5:checked ~ .cs_bullets > label.num5 > .cs_point {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  background: #592158;
  box-shadow: inset 0 0 0 2px #592158;
}




@-webkit-keyframes bullet {
  0%, 16.656666666666666%  {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    background: #592158;
    box-shadow: inset 0 0 0 2px #592158;
  }
  16.666666666666668%, 100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    background: transparent;
    box-shadow: inset 0 0 0 2px #fff;
  }
}
@keyframes bullet {
  0%, 16.656666666666666%  {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    background: #592158;
    box-shadow: inset 0 0 0 2px #592158;
  }
  16.666666666666668%, 100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    background: transparent;
    box-shadow: inset 0 0 0 2px #fff;
  }
}

.csslider1 > #cs_play1:checked ~ .cs_bullets > label.num0 > .cs_point,
.csslider1 > #cs_pause1:checked ~ .cs_bullets > label.num0 > .cs_point {
  -webkit-animation: bullet 48000ms infinite -2000ms;
  animation: bullet 48000ms infinite -2000ms;
}
.csslider1 > #cs_play1:checked ~ .cs_bullets > label.num1 > .cs_point,
.csslider1 > #cs_pause1:checked ~ .cs_bullets > label.num1 > .cs_point {
  -webkit-animation: bullet 48000ms infinite 6000ms;
  animation: bullet 48000ms infinite 6000ms;
}
.csslider1 > #cs_play1:checked ~ .cs_bullets > label.num2 > .cs_point,
.csslider1 > #cs_pause1:checked ~ .cs_bullets > label.num2 > .cs_point {
  -webkit-animation: bullet 48000ms infinite 14000ms;
  animation: bullet 48000ms infinite 14000ms;
}
.csslider1 > #cs_play1:checked ~ .cs_bullets > label.num3 > .cs_point,
.csslider1 > #cs_pause1:checked ~ .cs_bullets > label.num3 > .cs_point {
  -webkit-animation: bullet 48000ms infinite 22000ms;
  animation: bullet 48000ms infinite 22000ms;
}
.csslider1 > #cs_play1:checked ~ .cs_bullets > label.num4 > .cs_point,
.csslider1 > #cs_pause1:checked ~ .cs_bullets > label.num4 > .cs_point {
  -webkit-animation: bullet 48000ms infinite 30000ms;
  animation: bullet 48000ms infinite 30000ms;
}
.csslider1 > #cs_play1:checked ~ .cs_bullets > label.num5 > .cs_point,
.csslider1 > #cs_pause1:checked ~ .cs_bullets > label.num5 > .cs_point {
  -webkit-animation: bullet 48000ms infinite 38000ms;
  animation: bullet 48000ms infinite 38000ms;
}



.csslider1 > .slide:checked ~ .cs_bullets > label > .cs_point,
.csslider1 > .pause:checked ~ .cs_bullets > label > .cs_point {
  -webkit-animation: none;
  animation: none;
}


/* ------------- Template /Bullets ------------- */

/* ------------- Template Description ------------- */


.csslider1 > .cs_description > label {
  font-family: 'Bitter', serif;
  font-size: 19px;
  line-height: normal;
  top: auto;
  z-index: 3;

  text-align: center;
  bottom: 15px;
  top: auto;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.csslider1 > .cs_description > label > span {
  color: #592158;
  margin: 5px 10px;
  padding: 10px 15px;
  border-radius: 3px;
}




.csslider1 > #cs_slide1_0:checked ~ .cs_description > .num0 > .cs_title,
.csslider1 > #cs_slide1_0:checked ~ .cs_description > .num0 > .cs_descr,
.csslider1 > #cs_pause1_0:checked ~ .cs_description > .num0 > .cs_title,
.csslider1 > #cs_pause1_0:checked ~ .cs_description > .num0 > .cs_descr,
.csslider1 > #cs_slide1_1:checked ~ .cs_description > .num1 > .cs_title,
.csslider1 > #cs_slide1_1:checked ~ .cs_description > .num1 > .cs_descr,
.csslider1 > #cs_pause1_1:checked ~ .cs_description > .num1 > .cs_title,
.csslider1 > #cs_pause1_1:checked ~ .cs_description > .num1 > .cs_descr,
.csslider1 > #cs_slide1_2:checked ~ .cs_description > .num2 > .cs_title,
.csslider1 > #cs_slide1_2:checked ~ .cs_description > .num2 > .cs_descr,
.csslider1 > #cs_pause1_2:checked ~ .cs_description > .num2 > .cs_title,
.csslider1 > #cs_pause1_2:checked ~ .cs_description > .num2 > .cs_descr,
.csslider1 > #cs_slide1_3:checked ~ .cs_description > .num3 > .cs_title,
.csslider1 > #cs_slide1_3:checked ~ .cs_description > .num3 > .cs_descr,
.csslider1 > #cs_pause1_3:checked ~ .cs_description > .num3 > .cs_title,
.csslider1 > #cs_pause1_3:checked ~ .cs_description > .num3 > .cs_descr,
.csslider1 > #cs_slide1_4:checked ~ .cs_description > .num4 > .cs_title,
.csslider1 > #cs_slide1_4:checked ~ .cs_description > .num4 > .cs_descr,
.csslider1 > #cs_pause1_4:checked ~ .cs_description > .num4 > .cs_title,
.csslider1 > #cs_pause1_4:checked ~ .cs_description > .num4 > .cs_descr,
.csslider1 > #cs_slide1_5:checked ~ .cs_description > .num5 > .cs_title,
.csslider1 > #cs_slide1_5:checked ~ .cs_description > .num5 > .cs_descr,
.csslider1 > #cs_pause1_5:checked ~ .cs_description > .num5 > .cs_title,
.csslider1 > #cs_pause1_5:checked ~ .cs_description > .num5 > .cs_descr {
  opacity: 1;
  visibility: visible;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.csslider1 > .cs_description > label > .cs_title {
  margin: 0 10px;
  background-color: rgba(255,255,255,0.9);
  opacity: 0;
  visibility: hidden;
  z-index: 2;
  text-transform: uppercase;
  
  -webkit-transform: scale(0);
  transform: scale(0);

  -webkit-transition:
    500ms opacity 600ms ease,
    500ms -webkit-transform 600ms ease,
    500ms visibility 600ms ease;
  transition:
    500ms opacity 600ms ease,
    500ms -webkit-transform 600ms ease,
    500ms transform 600ms ease,
    500ms visibility 600ms ease;
}
.csslider1 > .cs_description > label > .cs_descr {
  color: #fff;
  background: #592158;
  padding: 7px 13px;

  
  font-size: 0.7em;
  margin: 5px 10px;

  

  opacity: 0;
  visibility: hidden;
  z-index: 1;
  
  -webkit-transform: scale(0);
  transform: scale(0);

  -webkit-transition:
    500ms opacity 850ms ease, 
    500ms -webkit-transform 850ms ease, 
    500ms visibility 850ms ease;
  transition:
    500ms opacity 850ms ease, 
    500ms -webkit-transform 850ms ease, 
    500ms transform 850ms ease, 
    500ms visibility 850ms ease;
}




@-webkit-keyframes cs_title {
  1.0416666666666667%, 16.666666666666668%  {
    opacity: 1;
    z-index: 2;
    visibility: visible;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  17.708333333333336%  {
    opacity: 0;
    z-index: 2;
    visibility: hidden;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  17.718333333333337%, 100%  { z-index: 0; }
}
@keyframes cs_title {
  1.0416666666666667%, 16.666666666666668%  {
    opacity: 1;
    z-index: 2;
    visibility: visible;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  17.708333333333336%  {
    opacity: 0;
    z-index: 2;
    visibility: hidden;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  17.718333333333337%, 100%  { z-index: 0; }
}


@-webkit-keyframes cs_descr {
  1.0416666666666667%, 16.666666666666668%  {
    opacity: 1;
    z-index: 1;
    visibility: visible;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  17.708333333333336%  {
    opacity: 0;
    z-index: 1;
    visibility: hidden;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  17.718333333333337%, 100%  { z-index: 0; }
}
@keyframes cs_descr {
  1.0416666666666667%, 16.666666666666668%  {
    opacity: 1;
    z-index: 1;
    visibility: visible;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  17.708333333333336%  {
    opacity: 0;
    z-index: 1;
    visibility: hidden;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  17.718333333333337%, 100%  { z-index: 0; }
}


.csslider1 > #cs_play1:checked ~ .cs_description > .num0  > .cs_title {
  -webkit-animation: cs_title 48000ms infinite -1400ms ease;
  animation: cs_title 48000ms infinite -1400ms ease;
}
.csslider1 > #cs_play1:checked ~ .cs_description > .num1  > .cs_title {
  -webkit-animation: cs_title 48000ms infinite 6600ms ease;
  animation: cs_title 48000ms infinite 6600ms ease;
}
.csslider1 > #cs_play1:checked ~ .cs_description > .num2  > .cs_title {
  -webkit-animation: cs_title 48000ms infinite 14600ms ease;
  animation: cs_title 48000ms infinite 14600ms ease;
}
.csslider1 > #cs_play1:checked ~ .cs_description > .num3  > .cs_title {
  -webkit-animation: cs_title 48000ms infinite 22600ms ease;
  animation: cs_title 48000ms infinite 22600ms ease;
}
.csslider1 > #cs_play1:checked ~ .cs_description > .num4  > .cs_title {
  -webkit-animation: cs_title 48000ms infinite 30600ms ease;
  animation: cs_title 48000ms infinite 30600ms ease;
}
.csslider1 > #cs_play1:checked ~ .cs_description > .num5  > .cs_title {
  -webkit-animation: cs_title 48000ms infinite 38600ms ease;
  animation: cs_title 48000ms infinite 38600ms ease;
}


.csslider1 > #cs_play1:checked ~ .cs_description > .num0  > .cs_descr {
  -webkit-animation: cs_descr 48000ms infinite -1150ms ease;
  animation: cs_descr 48000ms infinite -1150ms ease;
}
.csslider1 > #cs_play1:checked ~ .cs_description > .num1  > .cs_descr {
  -webkit-animation: cs_descr 48000ms infinite 6850ms ease;
  animation: cs_descr 48000ms infinite 6850ms ease;
}
.csslider1 > #cs_play1:checked ~ .cs_description > .num2  > .cs_descr {
  -webkit-animation: cs_descr 48000ms infinite 14850ms ease;
  animation: cs_descr 48000ms infinite 14850ms ease;
}
.csslider1 > #cs_play1:checked ~ .cs_description > .num3  > .cs_descr {
  -webkit-animation: cs_descr 48000ms infinite 22850ms ease;
  animation: cs_descr 48000ms infinite 22850ms ease;
}
.csslider1 > #cs_play1:checked ~ .cs_description > .num4  > .cs_descr {
  -webkit-animation: cs_descr 48000ms infinite 30850ms ease;
  animation: cs_descr 48000ms infinite 30850ms ease;
}
.csslider1 > #cs_play1:checked ~ .cs_description > .num5  > .cs_descr {
  -webkit-animation: cs_descr 48000ms infinite 38850ms ease;
  animation: cs_descr 48000ms infinite 38850ms ease;
}





.csslider1 > #cs_play1:checked ~ .cs_description > label > .cs_title,
.csslider1 > #cs_play1:checked ~ .cs_description > label > .cs_descr,
.csslider1 > .pause:checked ~ .cs_description > label > .cs_title,
.csslider1 > .pause:checked ~ .cs_description > label > .cs_descr {
  -webkit-transition: none;
  transition: none;
}


.csslider1 > .slide:checked ~ .cs_description > label,
.csslider1 > .pause:checked ~ .cs_description > label {
  -webkit-animation: none;
  animation: none;
}



/* ------------- /Template Description ------------- */
/* hide description & bullets on mobile devices */
@media
only screen and (max-width: 480px),
only screen and (-webkit-max-device-pixel-ratio: 2)      and (max-width: 480px),
only screen and (   max--moz-device-pixel-ratio: 2)      and (max-width: 480px),
only screen and (     -o-max-device-pixel-ratio: 2/1)    and (max-width: 480px),
only screen and (        max-device-pixel-ratio: 2)      and (max-width: 480px),
only screen and (                max-resolution: 192dpi) and (max-width: 480px),
only screen and (                max-resolution: 2dppx)  and (max-width: 480px) { 
  .csslider1 > .cs_description,
  .csslider1 > .cs_bullets {
    display: none;
  }
}

@media only screen and (max-width: 800px) {
  .csslider1,
  .csslider1 > ul {
    height: auto;
  }
}