<!DOCTYPE html>
html(lang="es" prefix="og: http://ogp.me/ns#")
  include blocks/head.pug
  body.body
    #multilimpio
      include blocks/header1.pug
      section
        .section.multilimpio(data-sticky-container)
          h2.title__section Accesorios y productos de limpieza
          aside.aside
            .aside__content(data-sticky="")
              ul.aside__main
                li.aside__item: a.aside__link.active(href="#sec1") Papel higiénico y toallas de papel
                li.aside__item: a.aside__link(href="#sec2") Satinizadores
                li.aside__item: a.aside__link(href="#sec3") Ambientadores
                li.aside__item: a.aside__link(href="#sec4") Seca manos
                li.aside__item: a.aside__link(href="#sec5") Lubricantes desbloqueadores de óxido
                li.aside__item: a.aside__link(href="#sec6") Destrancadores de tuberías
                li.aside__item: a.aside__link(href="#sec7") Dispensadores de jaboncillo líquido
                li.aside__item: a.aside__link(href="#sec8") Escobillones para inodoro y sopapas
                li.aside__item: a.aside__link(href="#sec9") Desinfectantes
                li.aside__item: a.aside__link(href="#sec10") Escobas trapeadoras
            .aside__movil
              ul.aside__main
                li.aside__item: a.aside__link(href="#sec1") Papel higiénico y toallas de papel
                li.aside__item: a.aside__link(href="#sec2") Satinizadores
                li.aside__item: a.aside__link(href="#sec3") Ambientadores
                li.aside__item: a.aside__link(href="#sec4") Seca manos
                li.aside__item: a.aside__link(href="#sec5") Lubricantes desbloqueadores de óxido
                li.aside__item: a.aside__link(href="#sec6") Destrancadores de tuberías
                li.aside__item: a.aside__link(href="#sec7") Dispensadores de jaboncillo líquido
                li.aside__item: a.aside__link(href="#sec8") Escobillones para inodoro y sopapas
                li.aside__item: a.aside__link(href="#sec9") Desinfectantes
                li.aside__item: a.aside__link(href="#sec10") Escobas trapeadoras
          main.article
            article 
              h3#sec1.subtitle__content Papel higiénico y toallas de papel
              ul.lb-album
                +lightbox('Accesorios y productos de limpieza',
                          'imagen-no-disponible.jpg',
                          'limpieza-industrial',
                          'limpieza-empresas-',1)
                +lightbox('Accesorios y productos de limpieza',
                          'imagen-no-disponible.jpg',
                          'limpieza-industrial',
                          'limpieza-empresas-',2)
                +lightbox('Accesorios y productos de limpieza',
                          'imagen-no-disponible.jpg',
                          'limpieza-industrial',
                          'limpieza-empresas-',3)
                //- Titulo de la imagen
                //- url de la imagen full y thumb
                //- carpeta del menu de la imagen 
                //- identificador de la imagen
            article
              h3#sec2.subtitle__content Satinizadores
              ul.lb-album
                +lightbox('Accesorios y productos de limpieza',
                          'imagen-no-disponible.jpg',
                          'limpieza-industrial',
                          'limpieza-empresas-',1)
                +lightbox('Accesorios y productos de limpieza',
                          'imagen-no-disponible.jpg',
                          'limpieza-industrial',
                          'limpieza-empresas-',2)
                +lightbox('Accesorios y productos de limpieza',
                          'imagen-no-disponible.jpg',
                          'limpieza-industrial',
                          'limpieza-empresas-',3)
                //- Titulo de la imagen
                //- url de la imagen full y thumb
                //- carpeta del menu de la imagen 
                //- identificador de la imagen
            article
              h3#sec3.subtitle__content Ambientadores
              ul.lb-album
                +lightbox('Accesorios y productos de limpieza',
                          'imagen-no-disponible.jpg',
                          'limpieza-industrial',
                          'limpieza-empresas-',1)
                +lightbox('Accesorios y productos de limpieza',
                          'imagen-no-disponible.jpg',
                          'limpieza-industrial',
                          'limpieza-empresas-',2)
                +lightbox('Accesorios y productos de limpieza',
                          'imagen-no-disponible.jpg',
                          'limpieza-industrial',
                          'limpieza-empresas-',3)
                //- Titulo de la imagen
                //- url de la imagen full y thumb
                //- carpeta del menu de la imagen 
                //- identificador de la imagen
            article
              h3#sec4.subtitle__content Seca manos
              ul.lb-album
                +lightbox('Accesorios y productos de limpieza',
                          'imagen-no-disponible.jpg',
                          'limpieza-industrial',
                          'limpieza-empresas-',1)
                +lightbox('Accesorios y productos de limpieza',
                          'imagen-no-disponible.jpg',
                          'limpieza-industrial',
                          'limpieza-empresas-',2)
                +lightbox('Accesorios y productos de limpieza',
                          'imagen-no-disponible.jpg',
                          'limpieza-industrial',
                          'limpieza-empresas-',3)
                //- Titulo de la imagen
                //- url de la imagen full y thumb
                //- carpeta del menu de la imagen 
                //- identificador de la imagen
            article
              h3#sec5.subtitle__content Lubricantes desbloqueadores de óxido
              ul.lb-album
                +lightbox('Accesorios y productos de limpieza',
                          'imagen-no-disponible.jpg',
                          'limpieza-industrial',
                          'limpieza-empresas-',1)
                +lightbox('Accesorios y productos de limpieza',
                          'imagen-no-disponible.jpg',
                          'limpieza-industrial',
                          'limpieza-empresas-',2)
                +lightbox('Accesorios y productos de limpieza',
                          'imagen-no-disponible.jpg',
                          'limpieza-industrial',
                          'limpieza-empresas-',3)
                //- Titulo de la imagen
                //- url de la imagen full y thumb
                //- carpeta del menu de la imagen 
                //- identificador de la imagen
            article
              h3#sec6.subtitle__content Destrancadores de tuberías
              ul.lb-album
                +lightbox('Accesorios y productos de limpieza',
                          'imagen-no-disponible.jpg',
                          'limpieza-industrial',
                          'limpieza-empresas-',1)
                +lightbox('Accesorios y productos de limpieza',
                          'imagen-no-disponible.jpg',
                          'limpieza-industrial',
                          'limpieza-empresas-',2)
                +lightbox('Accesorios y productos de limpieza',
                          'imagen-no-disponible.jpg',
                          'limpieza-industrial',
                          'limpieza-empresas-',3)
                //- Titulo de la imagen
                //- url de la imagen full y thumb
                //- carpeta del menu de la imagen 
                //- identificador de la imagen
            article
              h3#sec7.subtitle__content Dispensadores de jaboncillo líquido
              ul.lb-album
                +lightbox('Accesorios y productos de limpieza',
                          'imagen-no-disponible.jpg',
                          'limpieza-industrial',
                          'limpieza-empresas-',1)
                +lightbox('Accesorios y productos de limpieza',
                          'imagen-no-disponible.jpg',
                          'limpieza-industrial',
                          'limpieza-empresas-',2)
                +lightbox('Accesorios y productos de limpieza',
                          'imagen-no-disponible.jpg',
                          'limpieza-industrial',
                          'limpieza-empresas-',3)
                //- Titulo de la imagen
                //- url de la imagen full y thumb
                //- carpeta del menu de la imagen 
                //- identificador de la imagen
            article
              h3#sec8.subtitle__content Escobillones para inodoro y sopapas
              ul.lb-album
                +lightbox('Accesorios y productos de limpieza',
                          'imagen-no-disponible.jpg',
                          'limpieza-industrial',
                          'limpieza-empresas-',1)
                +lightbox('Accesorios y productos de limpieza',
                          'imagen-no-disponible.jpg',
                          'limpieza-industrial',
                          'limpieza-empresas-',2)
                +lightbox('Accesorios y productos de limpieza',
                          'imagen-no-disponible.jpg',
                          'limpieza-industrial',
                          'limpieza-empresas-',3)
                //- Titulo de la imagen
                //- url de la imagen full y thumb
                //- carpeta del menu de la imagen 
                //- identificador de la imagen
            article
              h3#sec9.subtitle__content Desinfectantes
              ul.lb-album
                +lightbox('Accesorios y productos de limpieza',
                          'imagen-no-disponible.jpg',
                          'limpieza-industrial',
                          'limpieza-empresas-',1)
                +lightbox('Accesorios y productos de limpieza',
                          'imagen-no-disponible.jpg',
                          'limpieza-industrial',
                          'limpieza-empresas-',2)
                +lightbox('Accesorios y productos de limpieza',
                          'imagen-no-disponible.jpg',
                          'limpieza-industrial',
                          'limpieza-empresas-',3)
                //- Titulo de la imagen
                //- url de la imagen full y thumb
                //- carpeta del menu de la imagen 
                //- identificador de la imagen
            article
              h3#sec10.subtitle__content Escobas trapeadoras
              ul.lb-album
                +lightbox('Accesorios y productos de limpieza',
                          'imagen-no-disponible.jpg',
                          'limpieza-industrial',
                          'limpieza-empresas-',1)
                +lightbox('Accesorios y productos de limpieza',
                          'imagen-no-disponible.jpg',
                          'limpieza-industrial',
                          'limpieza-empresas-',2)
                +lightbox('Accesorios y productos de limpieza',
                          'imagen-no-disponible.jpg',
                          'limpieza-industrial',
                          'limpieza-empresas-',3)
                //- Titulo de la imagen
                //- url de la imagen full y thumb
                //- carpeta del menu de la imagen 
                //- identificador de la imagen
       
    include blocks/footer.pug