<!DOCTYPE html>
html(lang="es" prefix="og: http://ogp.me/ns#")
  include blocks/head.pug
  body.body
    #multilimpio
      include blocks/header1.pug
      section
        .section.multilimpio(data-sticky-container)
          h2.title__section Limpieza comercial
          aside.aside
            .aside__content(data-sticky="")
              ul.aside__main
                li.aside__item: a.active(href="#sec1") Limpieza de locales comerciales o galerías
                li.aside__item: a(href="#sec2") Limpieza de colegios y unidades educativas
                li.aside__item: a(href="#sec3") Limpieza de oficinas
                li.aside__item: a(href="#sec4") Limpieza de restaurantes
                li.aside__item: a(href="#sec5") Lavado de letreros exteriores
                li.aside__item: a(href="#sec6") Lavado de puertas de vidrio
                li.aside__item: a(href="#sec7") Desmanchado de paredes
                li.aside__item: a(href="#sec8") Limpieza y regado de aceras
            .aside__movil
              ul.aside__main
                li.aside__item: a(href="#sec1") Limpieza de locales comerciales o galerías
                li.aside__item: a(href="#sec2") Limpieza de colegios y unidades educativas
                li.aside__item: a(href="#sec3") Limpieza de oficinas
                li.aside__item: a(href="#sec4") Limpieza de restaurantes
                li.aside__item: a(href="#sec5") Lavado de letreros exteriores
                li.aside__item: a(href="#sec6") Lavado de puertas de vidrio
                li.aside__item: a(href="#sec7") Desmanchado de paredes
                li.aside__item: a(href="#sec8") Limpieza y regado de aceras
          main.article
            article 
              h3#sec1.subtitle__content Limpieza de locales comerciales o galerías
              ul.lb-album
                +lightbox('Limpieza comercial',
                          'imagen-no-disponible.jpg',
                          'limpieza-industrial',
                          'limpieza-empresas-',1)
                +lightbox('Limpieza comercial',
                          'imagen-no-disponible.jpg',
                          'limpieza-industrial',
                          'limpieza-empresas-',2)
                +lightbox('Limpieza comercial',
                          'imagen-no-disponible.jpg',
                          'limpieza-industrial',
                          'limpieza-empresas-',3)
                //- Titulo de la imagen
                //- url de la imagen full y thumb
                //- carpeta del menu de la imagen 
                //- identificador de la imagen
            article 
              h3#sec2.subtitle__content Limpieza de colegios y unidades educativas
              ul.lb-album
                li
                  a(href='#colegios-1')
                    img(data-src='images/limpieza-comercial/limpieza colegios -1.jpg', alt='image01')
                    span Limpieza comercial
                  #colegios-1.lb-overlay
                    .lb-content.section
                      img(data-src='images/limpieza-comercial/limpieza colegios -1.jpg', alt='image01')
                      div
                        h3 Limpieza comercial
                        a.lb-prev(href='#colegios-3') Prev
                        a.lb-next(href='#colegios-2') Next
                      a.lb-close(href='#page') x Cerrar
                li
                  a(href='#colegios-2')
                    img(data-src='images/limpieza-comercial/limpieza colegios -2.jpg', alt='image02')
                    span Limpieza comercial
                  #colegios-2.lb-overlay
                    .lb-content.section
                      img(data-src='images/limpieza-comercial/limpieza colegios -2.jpg', alt='image02')
                      div
                        h3 Limpieza comercial
                        a.lb-prev(href='#colegios-1') Prev
                        a.lb-next(href='#colegios-3') Next
                      a.lb-close(href='#page') x Cerrar
                li
                  a(href='#colegios-3')
                    img(data-src='images/limpieza-comercial/limpieza colegios -3.jpg', alt='image03')
                    span Limpieza comercial
                  #colegios-3.lb-overlay
                    .lb-content.section
                      img(data-src='images/limpieza-comercial/limpieza colegios -3.jpg', alt='image03')
                      div
                        h3 Limpieza comercial
                        a.lb-prev(href='#colegios-2') Prev
                        a.lb-next(href='#colegios-1') Next
                      a.lb-close(href='#page') x Cerrar
            article 
              h3#sec3.subtitle__content Limpieza de oficinas
              ul.lb-album
                li
                  a(href='#oficinas-1')
                    img(data-src='images/limpieza-comercial/limpieza oficinas -1.jpg', alt='image01')
                    span Limpieza comercial
                  #oficinas-1.lb-overlay
                    .lb-content.section
                      img(data-src='images/limpieza-comercial/limpieza oficinas -1.jpg', alt='image01')
                      div
                        h3 Limpieza comercial
                        a.lb-prev(href='#oficinas-3') Prev
                        a.lb-next(href='#oficinas-2') Next
                      a.lb-close(href='#page') x Cerrar
                li
                  a(href='#oficinas-2')
                    img(data-src='images/limpieza-comercial/limpieza oficinas -2.jpg', alt='image02')
                    span Limpieza comercial
                  #oficinas-2.lb-overlay
                    .lb-content.section
                      img(data-src='images/limpieza-comercial/limpieza oficinas -2.jpg', alt='image02')
                      div
                        h3 Limpieza comercial
                        a.lb-prev(href='#oficinas-1') Prev
                        a.lb-next(href='#oficinas-3') Next
                      a.lb-close(href='#page') x Cerrar
                li
                  a(href='#oficinas-3')
                    img(data-src='images/limpieza-comercial/limpieza oficinas -3.jpg', alt='image03')
                    span Limpieza comercial
                  #oficinas-3.lb-overlay
                    .lb-content.section
                      img(data-src='images/limpieza-comercial/limpieza oficinas -3.jpg', alt='image03')
                      div
                        h3 Limpieza comercial
                        a.lb-prev(href='#oficinas-2') Prev
                        a.lb-next(href='#oficinas-1') Next
                      a.lb-close(href='#page') x Cerrar
            article 
              h3#sec4.subtitle__content Limpieza de restaurantes
              ul.lb-album
                li
                  a(href='#limpieza-restaurante-1')
                    img(data-src='images/limpieza-comercial/limpieza restaurantes -1.jpg', alt='image01')
                    span Limpieza comercial
                  #limpieza-restaurante-1.lb-overlay
                    .lb-content.section
                      img(data-src='images/limpieza-comercial/limpieza restaurantes -1.jpg', alt='image01')
                      div
                        h3 Limpieza comercial
                        a.lb-prev(href='#limpieza-restaurante-3') Prev
                        a.lb-next(href='#limpieza-restaurante-2') Next
                      a.lb-close(href='#page') x Cerrar
                li
                  a(href='#limpieza-restaurante-2')
                    img(data-src='images/limpieza-comercial/limpieza restaurantes -2.jpg', alt='image02')
                    span Limpieza comercial
                  #limpieza-restaurante-2.lb-overlay
                    .lb-content.section
                      img(data-src='images/limpieza-comercial/limpieza restaurantes -2.jpg', alt='image02')
                      div
                        h3 Limpieza comercial
                        a.lb-prev(href='#limpieza-restaurante-1') Prev
                        a.lb-next(href='#limpieza-restaurante-3') Next
                      a.lb-close(href='#page') x Cerrar
                li
                  a(href='#limpieza-restaurante-3')
                    img(data-src='images/limpieza-comercial/limpieza restaurantes -3.jpg', alt='image03')
                    span Limpieza comercial
                  #limpieza-restaurante-3.lb-overlay
                    .lb-content.section
                      img(data-src='images/limpieza-comercial/limpieza restaurantes -3.jpg', alt='image03')
                      div
                        h3 Limpieza comercial
                        a.lb-prev(href='#limpieza-restaurante-2') Prev
                        a.lb-next(href='#limpieza-restaurante-1') Next
                      a.lb-close(href='#page') x Cerrar
            article 
              h3#sec5.subtitle__content Lavado de letreros exteriores
              ul.lb-album
                +lightbox('Limpieza comercial',
                          'imagen-no-disponible.jpg',
                          'limpieza-industrial',
                          'limpieza-empresas-',1)
                +lightbox('Limpieza comercial',
                          'imagen-no-disponible.jpg',
                          'limpieza-industrial',
                          'limpieza-empresas-',2)
                +lightbox('Limpieza comercial',
                          'imagen-no-disponible.jpg',
                          'limpieza-industrial',
                          'limpieza-empresas-',3)
                //- Titulo de la imagen
                //- url de la imagen full y thumb
                //- carpeta del menu de la imagen 
                //- identificador de la imagen
            article 
              h3#sec6.subtitle__content Lavado de puertas de vidrio
              ul.lb-album
                +lightbox('Limpieza comercial',
                          'imagen-no-disponible.jpg',
                          'limpieza-industrial',
                          'limpieza-empresas-',1)
                +lightbox('Limpieza comercial',
                          'imagen-no-disponible.jpg',
                          'limpieza-industrial',
                          'limpieza-empresas-',2)
                +lightbox('Limpieza comercial',
                          'imagen-no-disponible.jpg',
                          'limpieza-industrial',
                          'limpieza-empresas-',3)
                //- Titulo de la imagen
                //- url de la imagen full y thumb
                //- carpeta del menu de la imagen 
                //- identificador de la imagen
            article 
              h3#sec7.subtitle__content Desmanchado de paredes
              ul.lb-album
                +lightbox('Limpieza comercial',
                          'imagen-no-disponible.jpg',
                          'limpieza-industrial',
                          'limpieza-empresas-',1)
                +lightbox('Limpieza comercial',
                          'imagen-no-disponible.jpg',
                          'limpieza-industrial',
                          'limpieza-empresas-',2)
                +lightbox('Limpieza comercial',
                          'imagen-no-disponible.jpg',
                          'limpieza-industrial',
                          'limpieza-empresas-',3)
                //- Titulo de la imagen
                //- url de la imagen full y thumb
                //- carpeta del menu de la imagen 
                //- identificador de la imagen
            article 
              h3#sec8.subtitle__content Limpieza y regado de aceras
              ul.lb-album
                +lightbox('Limpieza comercial',
                          'imagen-no-disponible.jpg',
                          'limpieza-industrial',
                          'limpieza-empresas-',1)
                +lightbox('Limpieza comercial',
                          'imagen-no-disponible.jpg',
                          'limpieza-industrial',
                          'limpieza-empresas-',2)
                +lightbox('Limpieza comercial',
                          'imagen-no-disponible.jpg',
                          'limpieza-industrial',
                          'limpieza-empresas-',3)
                //- Titulo de la imagen
                //- url de la imagen full y thumb
                //- carpeta del menu de la imagen 
                //- identificador de la imagen       
    include blocks/footer.pug