<!DOCTYPE html>
html(lang="es" prefix="og: http://ogp.me/ns#")
  include blocks/head.pug
  body.body
    #multilimpio
      include blocks/header1.pug 
      section
        .section.multilimpio(data-sticky-container)
          h2.title__section Limpieza industrial
          aside.aside
            .aside__content(data-sticky="")
              ul.aside__main
                li.aside__item: a.aside__link.active(href="#sec1") Limpieza de Fábricas
                li.aside__item: a.aside__link(href="#sec2") Limpieza en empresas e instituciones
                li.aside__item: a.aside__link(href="#sec3") Limpieza de Hospitales y clínicas
                li.aside__item: a.aside__link(href="#sec4") Limpieza de Hoteles
                li.aside__item: a.aside__link(href="#sec5") Limpieza de escritorios
                li.aside__item: a.aside__link(href="#sec6") Barrido, aspirado y lavado de alfombras de oficina
                li.aside__item: a.aside__link(href="#sec7") Desmanchado de paredes
                li.aside__item: a.aside__link(href="#sec8") Limpieza baños higiénicos
                li.aside__item: a.aside__link(href="#sec9") Limpieza y regado de aceras 
                li.aside__item: a.aside__link(href="#sec10") Limpieza de oficinas comunes
            .aside__movil
              ul.aside__main
                li.aside__item: a.aside__link(href="#sec1") Fábricas (Limpieza de instalaciones, red de tuberías y conductos, puestos de trabajo, maquinarias, etc.)
                li.aside__item: a.aside__link(href="#sec2") Limpieza en empresas e instituciones
                li.aside__item: a.aside__link(href="#sec3") Hospitales y clínicas
                li.aside__item: a.aside__link(href="#sec4") Hoteles, residencias, hostales
                li.aside__item: a.aside__link(href="#sec5") Limpieza de escritorios
                li.aside__item: a.aside__link(href="#sec6") Barrido, aspirado y lavado de alfombras de oficina
                li.aside__item: a.aside__link(href="#sec7") Desmanchado de paredes
                li.aside__item: a.aside__link(href="#sec8") Limpieza, de pisos, inodoros, urinarios, lavamanos y vidrios
                li.aside__item: a.aside__link(href="#sec9") Limpieza y regado de aceras 
                li.aside__item: a.aside__link(href="#sec10") Barrido, encerado y lustrado de pisos, oficinas comunes (parquet)
          article.article
            article
              h3#sec1.subtitle__content Fábricas (Limpieza de instalaciones, red de tuberías y conductos, puestos de trabajo, maquinarias, etc.)
              ul.lb-album                
                +lightbox('Limpieza de fabrica - Limpieza industrial',
                          'industrial -1.jpg',
                          'limpieza-industrial',
                          'limpieza-fabricas-',1)
                +lightbox('Limpieza de fabrica - Limpieza industrial',
                          'industrial -2.jpg',
                          'limpieza-industrial',
                          'limpieza-fabricas-',2)
                +lightbox('Limpieza de fabrica - Limpieza industrial',
                          'industrial -3.jpg',
                          'limpieza-industrial',
                          'limpieza-fabricas-',3)
                //- Titulo de la imagen
                //- url de la imagen full y thumb
                //- carpeta del menu de la imagen 
                //- identificador de la imagen
            article
              h3#sec2.subtitle__content Limpieza en empresas e instituciones
              ul.lb-album
                +lightbox('Limpieza industrial',
                          'imagen-no-disponible.jpg',
                          'limpieza-industrial',
                          'limpieza-empresas-',1)
                +lightbox('Limpieza industrial',
                          'imagen-no-disponible.jpg',
                          'limpieza-industrial',
                          'limpieza-empresas-',2)
                +lightbox('Limpieza industrial',
                          'imagen-no-disponible.jpg',
                          'limpieza-industrial',
                          'limpieza-empresas-',3)
                //- Titulo de la imagen
                //- url de la imagen full y thumb
                //- carpeta del menu de la imagen 
                //- identificador de la imagen
            article
              h3#sec3.subtitle__content Hospitales y clínicas
              ul.lb-album
                +lightbox('Limpieza industrial',
                          'limpieza hospital -1.jpg',
                          'limpieza-industrial',
                          'limpieza-hospital-',1)
                +lightbox('Limpieza industrial',
                          'limpieza hospital -2.jpg',
                          'limpieza-industrial',
                          'limpieza-hospital-',2)
                +lightbox('Limpieza industrial',
                          'limpieza hospital -3.jpg',
                          'limpieza-industrial',
                          'limpieza-hospital-',3)
                //- Titulo de la imagen
                //- url de la imagen full y thumb
                //- carpeta del menu de la imagen 
                //- identificador de la imagen
            article
              h3#sec4.subtitle__content Hoteles, residencias, hostales
              ul.lb-album
                +lightbox('Limpieza de hoteles',
                          'hoteles -1.jpg',
                          'limpieza-industrial',
                          'limpieza-hotel-',1)
                +lightbox('Limpieza de hoteles',
                          'hoteles -2.jpg',
                          'limpieza-industrial',
                          'limpieza-hotel-',2)
                +lightbox('Limpieza de hoteles',
                          'hoteles -3.jpg',
                          'limpieza-industrial',
                          'limpieza-hotel-',3)
                //- Titulo de la imagen
                //- url de la imagen full y thumb
                //- carpeta del menu de la imagen 
                //- identificador de la imagen
            article
              h3#sec5.subtitle__content Limpieza de escritorios
              ul.lb-album
                +lightbox('Limpieza industrial',
                          'imagen-no-disponible.jpg',
                          'limpieza-industrial',
                          'limpieza-empresas-',1)
                +lightbox('Limpieza industrial',
                          'imagen-no-disponible.jpg',
                          'limpieza-industrial',
                          'limpieza-empresas-',2)
                +lightbox('Limpieza industrial',
                          'imagen-no-disponible.jpg',
                          'limpieza-industrial',
                          'limpieza-empresas-',3)
                //- Titulo de la imagen
                //- url de la imagen full y thumb
                //- carpeta del menu de la imagen 
                //- identificador de la imagen
            article
              h3#sec6.subtitle__content Barrido, aspirado y lavado de alfombras de oficina
              ul.lb-album
                +lightbox('Limpieza industrial',
                          'imagen-no-disponible.jpg',
                          'limpieza-industrial',
                          'limpieza-empresas-',1)
                +lightbox('Limpieza industrial',
                          'imagen-no-disponible.jpg',
                          'limpieza-industrial',
                          'limpieza-empresas-',2)
                +lightbox('Limpieza industrial',
                          'imagen-no-disponible.jpg',
                          'limpieza-industrial',
                          'limpieza-empresas-',3)
                //- Titulo de la imagen
                //- url de la imagen full y thumb
                //- carpeta del menu de la imagen 
                //- identificador de la imagen
            article
              h3#sec7.subtitle__content Desmanchado de paredes
              ul.lb-album
                +lightbox('Limpieza industrial',
                          'imagen-no-disponible.jpg',
                          'limpieza-industrial',
                          'limpieza-empresas-',1)
                +lightbox('Limpieza industrial',
                          'imagen-no-disponible.jpg',
                          'limpieza-industrial',
                          'limpieza-empresas-',2)
                +lightbox('Limpieza industrial',
                          'imagen-no-disponible.jpg',
                          'limpieza-industrial',
                          'limpieza-empresas-',3)
                //- Titulo de la imagen
                //- url de la imagen full y thumb
                //- carpeta del menu de la imagen 
                //- identificador de la imagen
            article
              h3#sec8.subtitle__content Limpieza, de pisos, inodoros, urinarios, lavamanos y vidrios
              ul.lb-album
                +lightbox('Limpieza industrial',
                          'imagen-no-disponible.jpg',
                          'limpieza-industrial',
                          'limpieza-empresas-',1)
                +lightbox('Limpieza industrial',
                          'imagen-no-disponible.jpg',
                          'limpieza-industrial',
                          'limpieza-empresas-',2)
                +lightbox('Limpieza industrial',
                          'imagen-no-disponible.jpg',
                          'limpieza-industrial',
                          'limpieza-empresas-',3)
                //- Titulo de la imagen
                //- url de la imagen full y thumb
                //- carpeta del menu de la imagen 
                //- identificador de la imagen
            article
              h3#sec9.subtitle__content Limpieza y regado de aceras 
              ul.lb-album
                +lightbox('Limpieza industrial',
                          'imagen-no-disponible.jpg',
                          'limpieza-industrial',
                          'limpieza-empresas-',1)
                +lightbox('Limpieza industrial',
                          'imagen-no-disponible.jpg',
                          'limpieza-industrial',
                          'limpieza-empresas-',2)
                +lightbox('Limpieza industrial',
                          'imagen-no-disponible.jpg',
                          'limpieza-industrial',
                          'limpieza-empresas-',3)
                //- Titulo de la imagen
                //- url de la imagen full y thumb
                //- carpeta del menu de la imagen 
                //- identificador de la imagen
            article
              h3#sec10.subtitle__content Barrido, encerado y lustrado de pisos, oficinas comunes (parquet)
              ul.lb-album
                +lightbox('Limpieza industrial',
                          'imagen-no-disponible.jpg',
                          'limpieza-industrial',
                          'limpieza-empresas-',1)
                +lightbox('Limpieza industrial',
                          'imagen-no-disponible.jpg',
                          'limpieza-industrial',
                          'limpieza-empresas-',2)
                +lightbox('Limpieza industrial',
                          'imagen-no-disponible.jpg',
                          'limpieza-industrial',
                          'limpieza-empresas-',3)
                //- Titulo de la imagen
                //- url de la imagen full y thumb
                //- carpeta del menu de la imagen 
                //- identificador de la imagen       
    include blocks/footer.pug