<!DOCTYPE html>
html(lang="es" prefix="og: http://ogp.me/ns#")
  include blocks/head.pug
  body.body
    #multilimpio
      include blocks/header1.pug

      section
        .section.multilimpio(data-sticky-container)
          h2.title__section Limpieza doméstica
          aside.aside
            .aside__content(data-sticky="")
              ul.aside__main
                li.aside__item: a.active(href="#sec1") Limpieza de habitaciones
                li.aside__item: a(href="#sec2") Lavado de muebles con tapiz
                li.aside__item: a(href="#sec3") Desempolvado y limpieza de muebles con material adecuado y de calidad, para el tipo de mueble.
                li.aside__item: a(href="#sec4") Lavado de alfombras
                li.aside__item: a(href="#sec5") Limpieza de cristales y espejos
                li.aside__item: a(href="#sec6") Limpieza de fachadas, paredes y techos
                li.aside__item: a(href="#sec7") Lavado de cortinas, manteles y estores
                li.aside__item: a(href="#sec8") Limpieza de suelos y abrillantado
                li.aside__item: a(href="#sec9") Desempolvo de barandillas y pasamanos
                li.aside__item: a(href="#sec10") Limpieza de elementos decorativos
                li.aside__item: a(href="#sec11") Desempolvado y/o aspirado de persianas
                li.aside__item: a(href="#sec12") Barrido de pasillos y bauleras
                li.aside__item: a(href="#sec13") Lavado de paredes y ventanas interiores de vidrio
                li.aside__item: a(href="#sec14") Limpieza de cocineta,  desbacterización y sanitizado
                li.aside__item: a(href="#sec15") Desmanchado de patas, puertas, cajones y otros
                li.aside__item: a(href="#sec16") Virutillado, encerado y lustrado de pisos de madera
            .aside__movil
              ul.aside__main
                li.aside__item: a(href="#sec1") Limpieza de habitaciones
                li.aside__item: a(href="#sec2") Lavado de muebles con tapiz
                li.aside__item: a(href="#sec3") Desempolvado y limpieza de muebles con material adecuado y de calidad, para el tipo de mueble.
                li.aside__item: a(href="#sec4") Lavado de alfombras
                li.aside__item: a(href="#sec5") Limpieza de cristales y espejos
                li.aside__item: a(href="#sec6") Limpieza de fachadas, paredes y techos
                li.aside__item: a(href="#sec7") Lavado de cortinas, manteles y estores
                li.aside__item: a(href="#sec8") Limpieza de suelos y abrillantado
                li.aside__item: a(href="#sec9") Desempolvo de barandillas y pasamanos
                li.aside__item: a(href="#sec10") Limpieza de elementos decorativos
                li.aside__item: a(href="#sec11") Desempolvado y/o aspirado de persianas
                li.aside__item: a(href="#sec12") Barrido de pasillos y bauleras
                li.aside__item: a(href="#sec13") Lavado de paredes y ventanas interiores de vidrio
                li.aside__item: a(href="#sec14") Limpieza de cocineta,  desbacterización y sanitizado
                li.aside__item: a(href="#sec15") Desmanchado de patas, puertas, cajones y otros
                li.aside__item: a(href="#sec16") Virutillado, encerado y lustrado de pisos de madera
          main.article
            article
              h3#sec1.subtitle__content Limpieza de habitaciones
              ul.lb-album
                li
                  a(href='#limpieza-habitacion-1')
                    img(data-src='images/limpieza-domestica/limpieza de dormitorio -1.jpg', alt='image01')
                    span Limpieza doméstica
                  #limpieza-habitacion-1.lb-overlay
                    .lb-content.section
                      img(data-src='images/limpieza-domestica/limpieza de dormitorio -1.jpg', alt='image01')
                      div
                        h3 Limpieza doméstica
                        a.lb-prev(href='#limpieza-habitacion-3') Prev
                        a.lb-next(href='#limpieza-habitacion-2') Next
                      a.lb-close(href='#page') x Cerrar
                li
                  a(href='#limpieza-habitacion-2')
                    img(data-src='images/limpieza-domestica/limpieza de dormitorio -2.jpg', alt='image02')
                    span Limpieza doméstica
                  #limpieza-habitacion-2.lb-overlay
                    .lb-content.section
                      img(data-src='images/limpieza-domestica/limpieza de dormitorio -2.jpg', alt='image02')
                      div
                        h3 Limpieza doméstica
                        a.lb-prev(href='#limpieza-habitacion-1') Prev
                        a.lb-next(href='#limpieza-habitacion-3') Next
                      a.lb-close(href='#page') x Cerrar
                li
                  a(href='#limpieza-habitacion-3')
                    img(data-src='images/limpieza-domestica/limpieza de dormitorio -3.jpg', alt='image03')
                    span Limpieza doméstica
                  #limpieza-habitacion-3.lb-overlay
                    .lb-content.section
                      img(data-src='images/limpieza-domestica/limpieza de dormitorio -3.jpg', alt='image03')
                      div
                        h3 Limpieza doméstica
                        a.lb-prev(href='#limpieza-habitacion-2') Prev
                        a.lb-next(href='#limpieza-habitacion-1') Next
                      a.lb-close(href='#page') x Cerrar
            article
              h3#sec2.subtitle__content Lavado de muebles con tapiz
              ul.lb-album
                +lightbox('Limpieza doméstica',
                          'imagen-no-disponible.jpg',
                          'limpieza-industrial',
                          'limpieza-empresas-',1)
                +lightbox('Limpieza doméstica',
                          'imagen-no-disponible.jpg',
                          'limpieza-industrial',
                          'limpieza-empresas-',2)
                +lightbox('Limpieza doméstica',
                          'imagen-no-disponible.jpg',
                          'limpieza-industrial',
                          'limpieza-empresas-',3)
                //- Titulo de la imagen
                //- url de la imagen full y thumb
                //- carpeta del menu de la imagen 
                //- identificador de la imagen
            article
              h3#sec3.subtitle__content Desempolvado y limpieza de muebles con material adecuado y de calidad, para el tipo de mueble.
              ul.lb-album
                +lightbox('Limpieza doméstica',
                          'imagen-no-disponible.jpg',
                          'limpieza-industrial',
                          'limpieza-empresas-',1)
                +lightbox('Limpieza doméstica',
                          'imagen-no-disponible.jpg',
                          'limpieza-industrial',
                          'limpieza-empresas-',2)
                +lightbox('Limpieza doméstica',
                          'imagen-no-disponible.jpg',
                          'limpieza-industrial',
                          'limpieza-empresas-',3)
                //- Titulo de la imagen
                //- url de la imagen full y thumb
                //- carpeta del menu de la imagen 
                //- identificador de la imagen
            article
              h3#sec4.subtitle__content Lavado de alfombras
              ul.lb-album
                +lightbox('Limpieza doméstica',
                          'imagen-no-disponible.jpg',
                          'limpieza-industrial',
                          'limpieza-empresas-',1)
                +lightbox('Limpieza doméstica',
                          'imagen-no-disponible.jpg',
                          'limpieza-industrial',
                          'limpieza-empresas-',2)
                +lightbox('Limpieza doméstica',
                          'imagen-no-disponible.jpg',
                          'limpieza-industrial',
                          'limpieza-empresas-',3)
                //- Titulo de la imagen
                //- url de la imagen full y thumb
                //- carpeta del menu de la imagen 
                //- identificador de la imagen
            article
              h3#sec5.subtitle__content Limpieza de cristales y espejos
              ul.lb-album
                +lightbox('Limpieza doméstica',
                          'imagen-no-disponible.jpg',
                          'limpieza-industrial',
                          'limpieza-empresas-',1)
                +lightbox('Limpieza doméstica',
                          'imagen-no-disponible.jpg',
                          'limpieza-industrial',
                          'limpieza-empresas-',2)
                +lightbox('Limpieza doméstica',
                          'imagen-no-disponible.jpg',
                          'limpieza-industrial',
                          'limpieza-empresas-',3)
                //- Titulo de la imagen
                //- url de la imagen full y thumb
                //- carpeta del menu de la imagen 
                //- identificador de la imagen
            article
              h3#sec6.subtitle__content Limpieza de fachadas, paredes y techos
              ul.lb-album
                +lightbox('Limpieza doméstica',
                          'imagen-no-disponible.jpg',
                          'limpieza-industrial',
                          'limpieza-empresas-',1)
                +lightbox('Limpieza doméstica',
                          'imagen-no-disponible.jpg',
                          'limpieza-industrial',
                          'limpieza-empresas-',2)
                +lightbox('Limpieza doméstica',
                          'imagen-no-disponible.jpg',
                          'limpieza-industrial',
                          'limpieza-empresas-',3)
                //- Titulo de la imagen
                //- url de la imagen full y thumb
                //- carpeta del menu de la imagen 
                //- identificador de la imagen
            article
              h3#sec7.subtitle__content Lavado de cortinas, manteles y estores
              ul.lb-album
                +lightbox('Limpieza doméstica',
                          'imagen-no-disponible.jpg',
                          'limpieza-industrial',
                          'limpieza-empresas-',1)
                +lightbox('Limpieza doméstica',
                          'imagen-no-disponible.jpg',
                          'limpieza-industrial',
                          'limpieza-empresas-',2)
                +lightbox('Limpieza doméstica',
                          'imagen-no-disponible.jpg',
                          'limpieza-industrial',
                          'limpieza-empresas-',3)
                //- Titulo de la imagen
                //- url de la imagen full y thumb
                //- carpeta del menu de la imagen 
                //- identificador de la imagen
            article
              h3#sec8.subtitle__content Limpieza de suelos y abrillantado
              ul.lb-album
                +lightbox('Limpieza doméstica',
                          'imagen-no-disponible.jpg',
                          'limpieza-industrial',
                          'limpieza-empresas-',1)
                +lightbox('Limpieza doméstica',
                          'imagen-no-disponible.jpg',
                          'limpieza-industrial',
                          'limpieza-empresas-',2)
                +lightbox('Limpieza doméstica',
                          'imagen-no-disponible.jpg',
                          'limpieza-industrial',
                          'limpieza-empresas-',3)
                //- Titulo de la imagen
                //- url de la imagen full y thumb
                //- carpeta del menu de la imagen 
                //- identificador de la imagen
            article
              h3#sec9.subtitle__content Desempolvo de barandillas y pasamanos
              ul.lb-album
                +lightbox('Limpieza doméstica',
                          'imagen-no-disponible.jpg',
                          'limpieza-industrial',
                          'limpieza-empresas-',1)
                +lightbox('Limpieza doméstica',
                          'imagen-no-disponible.jpg',
                          'limpieza-industrial',
                          'limpieza-empresas-',2)
                +lightbox('Limpieza doméstica',
                          'imagen-no-disponible.jpg',
                          'limpieza-industrial',
                          'limpieza-empresas-',3)
                //- Titulo de la imagen
                //- url de la imagen full y thumb
                //- carpeta del menu de la imagen 
                //- identificador de la imagen
            article
              h3#sec10.subtitle__content Limpieza de elementos decorativos
              ul.lb-album
                +lightbox('Limpieza doméstica',
                          'imagen-no-disponible.jpg',
                          'limpieza-industrial',
                          'limpieza-empresas-',1)
                +lightbox('Limpieza doméstica',
                          'imagen-no-disponible.jpg',
                          'limpieza-industrial',
                          'limpieza-empresas-',2)
                +lightbox('Limpieza doméstica',
                          'imagen-no-disponible.jpg',
                          'limpieza-industrial',
                          'limpieza-empresas-',3)
                //- Titulo de la imagen
                //- url de la imagen full y thumb
                //- carpeta del menu de la imagen 
                //- identificador de la imagen
            article
              h3#sec11.subtitle__content Desempolvado y/o aspirado de persianas
              ul.lb-album
                +lightbox('Limpieza doméstica',
                          'imagen-no-disponible.jpg',
                          'limpieza-industrial',
                          'limpieza-empresas-',1)
                +lightbox('Limpieza doméstica',
                          'imagen-no-disponible.jpg',
                          'limpieza-industrial',
                          'limpieza-empresas-',2)
                +lightbox('Limpieza doméstica',
                          'imagen-no-disponible.jpg',
                          'limpieza-industrial',
                          'limpieza-empresas-',3)
                //- Titulo de la imagen
                //- url de la imagen full y thumb
                //- carpeta del menu de la imagen 
                //- identificador de la imagen
            article
              h3#sec12.subtitle__content Barrido de pasillos y bauleras
              ul.lb-album
                +lightbox('Limpieza doméstica',
                          'imagen-no-disponible.jpg',
                          'limpieza-industrial',
                          'limpieza-empresas-',1)
                +lightbox('Limpieza doméstica',
                          'imagen-no-disponible.jpg',
                          'limpieza-industrial',
                          'limpieza-empresas-',2)
                +lightbox('Limpieza doméstica',
                          'imagen-no-disponible.jpg',
                          'limpieza-industrial',
                          'limpieza-empresas-',3)
                //- Titulo de la imagen
                //- url de la imagen full y thumb
                //- carpeta del menu de la imagen 
                //- identificador de la imagen
            article
              h3#sec13.subtitle__content Lavado de paredes y ventanas interiores de vidrio
              ul.lb-album
                +lightbox('Limpieza doméstica',
                          'imagen-no-disponible.jpg',
                          'limpieza-industrial',
                          'limpieza-empresas-',1)
                +lightbox('Limpieza doméstica',
                          'imagen-no-disponible.jpg',
                          'limpieza-industrial',
                          'limpieza-empresas-',2)
                +lightbox('Limpieza doméstica',
                          'imagen-no-disponible.jpg',
                          'limpieza-industrial',
                          'limpieza-empresas-',3)
                //- Titulo de la imagen
                //- url de la imagen full y thumb
                //- carpeta del menu de la imagen 
                //- identificador de la imagen
            article
              h3#sec14.subtitle__content Limpieza de cocineta,  desbacterización y sanitizado
              ul.lb-album
                +lightbox('Limpieza doméstica',
                          'imagen-no-disponible.jpg',
                          'limpieza-industrial',
                          'limpieza-empresas-',1)
                +lightbox('Limpieza doméstica',
                          'imagen-no-disponible.jpg',
                          'limpieza-industrial',
                          'limpieza-empresas-',2)
                +lightbox('Limpieza doméstica',
                          'imagen-no-disponible.jpg',
                          'limpieza-industrial',
                          'limpieza-empresas-',3)
                //- Titulo de la imagen
                //- url de la imagen full y thumb
                //- carpeta del menu de la imagen 
                //- identificador de la imagen
            article
              h3#sec15.subtitle__content Desmanchado de patas, puertas, cajones y otros
              ul.lb-album
                +lightbox('Limpieza doméstica',
                          'imagen-no-disponible.jpg',
                          'limpieza-industrial',
                          'limpieza-empresas-',1)
                +lightbox('Limpieza doméstica',
                          'imagen-no-disponible.jpg',
                          'limpieza-industrial',
                          'limpieza-empresas-',2)
                +lightbox('Limpieza doméstica',
                          'imagen-no-disponible.jpg',
                          'limpieza-industrial',
                          'limpieza-empresas-',3)
                //- Titulo de la imagen
                //- url de la imagen full y thumb
                //- carpeta del menu de la imagen 
                //- identificador de la imagen
            article
              h3#sec16.subtitle__content Virutillado, encerado y lustrado de pisos de madera            
              ul.lb-album
                +lightbox('Limpieza doméstica',
                          'imagen-no-disponible.jpg',
                          'limpieza-industrial',
                          'limpieza-empresas-',1)
                +lightbox('Limpieza doméstica',
                          'imagen-no-disponible.jpg',
                          'limpieza-industrial',
                          'limpieza-empresas-',2)
                +lightbox('Limpieza doméstica',
                          'imagen-no-disponible.jpg',
                          'limpieza-industrial',
                          'limpieza-empresas-',3)
                //- Titulo de la imagen
                //- url de la imagen full y thumb
                //- carpeta del menu de la imagen 
                //- identificador de la imagen       
    include blocks/footer.pug