<!DOCTYPE html>
html(lang="es" prefix="og: http://ogp.me/ns#")
  include blocks/head.pug
  body.body
    #multilimpio
      include blocks/header1.pug       
      section
        .section.multilimpio(style="background: white;")
          h2.title__section Nuestra empresa
          .col50
            h3.title__content Misión
            p.content_text Prestar un servicio de calidad, eficiencia, profesionalidad  y con responsabilidad, contribuir brindando trabajo a la sociedad, mantener el concepto de familia considerando que ante la ley todos somos iguales en nuestra empresa, respetando la libre competencia y respetando las leyes y normas que nos rigen en nuestro país.
          .col50
            h3.title__content Visión
            p.content_text Ser la empresa número uno en el mercado en brindar  servicios de Limpieza Integral  y mantenimiento, altamente eficiente, logrando que nuestros clientes nos prefieran, más que una empresa, una familia.
    include blocks/footer.pug
