<!DOCTYPE html>
html(lang="es" prefix="og: http://ogp.me/ns#")
  include blocks/head.pug
  body.body
    #multilimpio
      include blocks/header1.pug
      section
        .section.multilimpio(data-sticky-container)
          h2.title__section Otros servicios
          aside.aside
            .aside__content(data-sticky="")
              ul.aside__main
                li.aside__item: a.aside__link.active(href="#sec1") Lavado de cerámicas 
                li.aside__item: a.aside__link(href="#sec2") Limpieza  general de  barandas,  puertas, ventanas 
                li.aside__item: a.aside__link(href="#sec3") Desempolvado  de puerta y rejas metálicas
                li.aside__item: a.aside__link(href="#sec4") Lavados  de pisos sintéticos  y metálicos 
                li.aside__item: a.aside__link(href="#sec5") Limpieza total de pisos 
                li.aside__item: a.aside__link(href="#sec6") Limpieza de  vidrios 
                li.aside__item: a.aside__link(href="#sec7") Limpieza de cocina, lavado de secadores  y otros 
                li.aside__item: a.aside__link(href="#sec8") Limpieza general de computadoras
                li.aside__item: a.aside__link(href="#sec9") Ambientación  diaria de oficina 
                li.aside__item: a.aside__link(href="#sec10") Recojo, sacado y botado de basura 
                li.aside__item: a.aside__link(href="#sec11") Desbacterización y sanitizado de inodoros, urinarios y lavamanos
                li.aside__item: a.aside__link(href="#sec12") Desempolvado  de puerta, pasamanos y rejas metálicas
                li.aside__item: a.aside__link(href="#sec13") Aspirado  y desempolvado  de cajas, barandas, puertas
            .aside__movil
              ul.aside__main
                li.aside__item: a.aside__link(href="#sec1") Lavado de cerámicas 
                li.aside__item: a.aside__link(href="#sec2") Limpieza  general de  barandas,  puertas, ventanas 
                li.aside__item: a.aside__link(href="#sec3") Desempolvado  de puerta y rejas metálicas
                li.aside__item: a.aside__link(href="#sec4") Lavados  de pisos sintéticos  y metálicos 
                li.aside__item: a.aside__link(href="#sec5") Limpieza total de pisos 
                li.aside__item: a.aside__link(href="#sec6") Limpieza de  vidrios 
                li.aside__item: a.aside__link(href="#sec7") Limpieza de cocina, lavado de secadores  y otros 
                li.aside__item: a.aside__link(href="#sec8") Limpieza general de computadoras
                li.aside__item: a.aside__link(href="#sec9") Ambientación  diaria de oficina 
                li.aside__item: a.aside__link(href="#sec10") Recojo, sacado y botado de basura 
                li.aside__item: a.aside__link(href="#sec11") Desbacterización y sanitizado de inodoros, urinarios y lavamanos
                li.aside__item: a.aside__link(href="#sec12") Desempolvado  de puerta, pasamanos y rejas metálicas
                li.aside__item: a.aside__link(href="#sec13") Aspirado  y desempolvado  de cajas, barandas, puertas
          main.article
            article 
              h3#sec1.subtitle__content Lavado de cerámicas
              ul.lb-album
                +lightbox('Otros servicios',
                          'imagen-no-disponible.jpg',
                          'limpieza-industrial',
                          'limpieza-empresas-',1)
                +lightbox('Otros servicios',
                          'imagen-no-disponible.jpg',
                          'limpieza-industrial',
                          'limpieza-empresas-',2)
                +lightbox('Otros servicios',
                          'imagen-no-disponible.jpg',
                          'limpieza-industrial',
                          'limpieza-empresas-',3)
                //- Titulo de la imagen
                //- url de la imagen full y thumb
                //- carpeta del menu de la imagen 
                //- identificador de la imagen
            article 
              h3#sec2.subtitle__content Limpieza  general de  barandas,  puertas, ventanas  
              ul.lb-album
                +lightbox('Otros servicios',
                          'imagen-no-disponible.jpg',
                          'limpieza-industrial',
                          'limpieza-empresas-',1)
                +lightbox('Otros servicios',
                          'imagen-no-disponible.jpg',
                          'limpieza-industrial',
                          'limpieza-empresas-',2)
                +lightbox('Otros servicios',
                          'imagen-no-disponible.jpg',
                          'limpieza-industrial',
                          'limpieza-empresas-',3)
                //- Titulo de la imagen
                //- url de la imagen full y thumb
                //- carpeta del menu de la imagen 
                //- identificador de la imagen
            article 
              h3#sec3.subtitle__content Desempolvado  de puerta y rejas metálicas
              ul.lb-album
                +lightbox('Otros servicios',
                          'imagen-no-disponible.jpg',
                          'limpieza-industrial',
                          'limpieza-empresas-',1)
                +lightbox('Otros servicios',
                          'imagen-no-disponible.jpg',
                          'limpieza-industrial',
                          'limpieza-empresas-',2)
                +lightbox('Otros servicios',
                          'imagen-no-disponible.jpg',
                          'limpieza-industrial',
                          'limpieza-empresas-',3)
                //- Titulo de la imagen
                //- url de la imagen full y thumb
                //- carpeta del menu de la imagen 
                //- identificador de la imagen
            article 
              h3#sec4.subtitle__content Lavados  de pisos sintéticos  y metálicos
              ul.lb-album
                +lightbox('Otros servicios',
                          'imagen-no-disponible.jpg',
                          'limpieza-industrial',
                          'limpieza-empresas-',1)
                +lightbox('Otros servicios',
                          'imagen-no-disponible.jpg',
                          'limpieza-industrial',
                          'limpieza-empresas-',2)
                +lightbox('Otros servicios',
                          'imagen-no-disponible.jpg',
                          'limpieza-industrial',
                          'limpieza-empresas-',3)
                //- Titulo de la imagen
                //- url de la imagen full y thumb
                //- carpeta del menu de la imagen 
                //- identificador de la imagen
            article 
              h3#sec5.subtitle__content Limpieza total de pisos
              ul.lb-album
                +lightbox('Otros servicios',
                          'imagen-no-disponible.jpg',
                          'limpieza-industrial',
                          'limpieza-empresas-',1)
                +lightbox('Otros servicios',
                          'imagen-no-disponible.jpg',
                          'limpieza-industrial',
                          'limpieza-empresas-',2)
                +lightbox('Otros servicios',
                          'imagen-no-disponible.jpg',
                          'limpieza-industrial',
                          'limpieza-empresas-',3)
                //- Titulo de la imagen
                //- url de la imagen full y thumb
                //- carpeta del menu de la imagen 
                //- identificador de la imagen
            article 
              h3#sec6.subtitle__content Limpieza de  vidrios
              ul.lb-album
                +lightbox('Otros servicios',
                          'imagen-no-disponible.jpg',
                          'limpieza-industrial',
                          'limpieza-empresas-',1)
                +lightbox('Otros servicios',
                          'imagen-no-disponible.jpg',
                          'limpieza-industrial',
                          'limpieza-empresas-',2)
                +lightbox('Otros servicios',
                          'imagen-no-disponible.jpg',
                          'limpieza-industrial',
                          'limpieza-empresas-',3)
                //- Titulo de la imagen
                //- url de la imagen full y thumb
                //- carpeta del menu de la imagen 
                //- identificador de la imagen
            article 
              h3#sec7.subtitle__content Limpieza de cocina, lavado de secadores  y otros
              ul.lb-album
                +lightbox('Otros servicios',
                          'imagen-no-disponible.jpg',
                          'limpieza-industrial',
                          'limpieza-empresas-',1)
                +lightbox('Otros servicios',
                          'imagen-no-disponible.jpg',
                          'limpieza-industrial',
                          'limpieza-empresas-',2)
                +lightbox('Otros servicios',
                          'imagen-no-disponible.jpg',
                          'limpieza-industrial',
                          'limpieza-empresas-',3)
                //- Titulo de la imagen
                //- url de la imagen full y thumb
                //- carpeta del menu de la imagen 
                //- identificador de la imagen
            article 
              h3#sec8.subtitle__content Limpieza general de computadoras
              ul.lb-album
                +lightbox('Otros servicios',
                          'imagen-no-disponible.jpg',
                          'limpieza-industrial',
                          'limpieza-empresas-',1)
                +lightbox('Otros servicios',
                          'imagen-no-disponible.jpg',
                          'limpieza-industrial',
                          'limpieza-empresas-',2)
                +lightbox('Otros servicios',
                          'imagen-no-disponible.jpg',
                          'limpieza-industrial',
                          'limpieza-empresas-',3)
                //- Titulo de la imagen
                //- url de la imagen full y thumb
                //- carpeta del menu de la imagen 
                //- identificador de la imagen
            article
              h3#sec9.subtitle__content Ambientación  diaria de oficina
              ul.lb-album
                +lightbox('Otros servicios',
                          'imagen-no-disponible.jpg',
                          'limpieza-industrial',
                          'limpieza-empresas-',1)
                +lightbox('Otros servicios',
                          'imagen-no-disponible.jpg',
                          'limpieza-industrial',
                          'limpieza-empresas-',2)
                +lightbox('Otros servicios',
                          'imagen-no-disponible.jpg',
                          'limpieza-industrial',
                          'limpieza-empresas-',3)
                //- Titulo de la imagen
                //- url de la imagen full y thumb
                //- carpeta del menu de la imagen 
                //- identificador de la imagen
            article
              h3#sec10.subtitle__content Recojo, sacado y botado de basura
              ul.lb-album
                +lightbox('Otros servicios',
                          'imagen-no-disponible.jpg',
                          'limpieza-industrial',
                          'limpieza-empresas-',1)
                +lightbox('Otros servicios',
                          'imagen-no-disponible.jpg',
                          'limpieza-industrial',
                          'limpieza-empresas-',2)
                +lightbox('Otros servicios',
                          'imagen-no-disponible.jpg',
                          'limpieza-industrial',
                          'limpieza-empresas-',3)
                //- Titulo de la imagen
                //- url de la imagen full y thumb
                //- carpeta del menu de la imagen 
                //- identificador de la imagen
            article
              h3#sec11.subtitle__content Desbacterización y sanitizado de inodoros, urinarios y lavamanos
              ul.lb-album
                +lightbox('Otros servicios',
                          'imagen-no-disponible.jpg',
                          'limpieza-industrial',
                          'limpieza-empresas-',1)
                +lightbox('Otros servicios',
                          'imagen-no-disponible.jpg',
                          'limpieza-industrial',
                          'limpieza-empresas-',2)
                +lightbox('Otros servicios',
                          'imagen-no-disponible.jpg',
                          'limpieza-industrial',
                          'limpieza-empresas-',3)
                //- Titulo de la imagen
                //- url de la imagen full y thumb
                //- carpeta del menu de la imagen 
                //- identificador de la imagen
            article
              h3#sec12.subtitle__content Desempolvado  de puerta, pasamanos y rejas metálicas
              ul.lb-album
                +lightbox('Otros servicios',
                          'imagen-no-disponible.jpg',
                          'limpieza-industrial',
                          'limpieza-empresas-',1)
                +lightbox('Otros servicios',
                          'imagen-no-disponible.jpg',
                          'limpieza-industrial',
                          'limpieza-empresas-',2)
                +lightbox('Otros servicios',
                          'imagen-no-disponible.jpg',
                          'limpieza-industrial',
                          'limpieza-empresas-',3)
                //- Titulo de la imagen
                //- url de la imagen full y thumb
                //- carpeta del menu de la imagen 
                //- identificador de la imagen
            article
              h3#sec13.subtitle__content Aspirado  y desempolvado  de cajas, barandas, puertas
              ul.lb-album
                +lightbox('Otros servicios',
                          'imagen-no-disponible.jpg',
                          'limpieza-industrial',
                          'limpieza-empresas-',1)
                +lightbox('Otros servicios',
                          'imagen-no-disponible.jpg',
                          'limpieza-industrial',
                          'limpieza-empresas-',2)
                +lightbox('Otros servicios',
                          'imagen-no-disponible.jpg',
                          'limpieza-industrial',
                          'limpieza-empresas-',3)
                //- Titulo de la imagen
                //- url de la imagen full y thumb
                //- carpeta del menu de la imagen 
                //- identificador de la imagen
       
    include blocks/footer.pug