<!DOCTYPE html>
html(lang="es" prefix="og: http://ogp.me/ns#")
  include blocks/head.pug
  body.body
    #multilimpio
      include blocks/header1.pug       
      section
        .section.multilimpio(style="background: white;")
          h2.title__section Trabaja con nosotros
          .col100
            p.content_text Llene el siguiente fomulario para poder postular a un puesto de trabajo en Multilimpio SRL.
            hr
          #form
            //- form.multilimpio.form(v-on:submit.prevent="submitJob")
            form.multilimpio.form(v-on:submit.prevent="submitJob")
              .col50
                .item
                  label.form__label(for="") Nombre completo: 
                  input.form__input(v-model="job.nombre" type="text" required="")
                .item
                  label.form__label(for="") Teléfono: 
                  input.form__input(v-model="job.telefono" type="number" required="")
                .item
                  label.form__label(for="") Celular: 
                  input.form__input(v-model="job.movil" type="number" required="")
                .item
                  label.form__label(for="") Dirección: 
                  input.form__input(v-model="job.direccion" type="text" required="")
              //- .item
              //-   label.form__label(for="") Ciudad: 
              //-   input.form__input(v-model="vue.ciudad" type="text" required="")
              .col50
                .item
                  label.form__label(for="") Email: 
                  input.form__input(v-model="job.email" type="email" required="")
                .item
                  label.form__label(for="") Coméntanos sobre tu experiencia de trabajo mas reciente: 
                  textarea.form__input(v-model="job.experiencia" name="", cols="30", rows="10" required="") 
                .form_buttons
                  button.form__button(type="submit") Enviar
                  button.form__button(v-on:click="clearForm()") Limpiar
                .statusMessage(v-if="jobSubmitted")
                  h4(v-text="job.envio")
    include blocks/footer.pug
    script(src="js/vue-form.js")